<%- include('../includes/head') %>
</head>
<body>
<%- include('../includes/navigation.ejs') %>
<h1>Sign In</h1>
<form action="/auth/signin" method="post">
  <input type="email" name="email" id="email" placeholder="Email" />
  <input type="password" name="password" id="password" placeholder="Password" />
  <button type="submit">Sign In</button>
</form>
<%- include('../includes/end.ejs') %>