<div class="container">
<h1>Dashboard</h1>
<section>
    <div class="container">
  <div class="row row-cols-6">
    <div class="col row"><img src="http://placehold.it/70x70" alt="Element1" /><a href="/admin/blog">Blog</a></div>
    <div class="col row "><img src="http://placehold.it/70x70" alt="Element1" /><span>Label</span></div>
    <div class="col row"><img src="http://placehold.it/70x70" alt="Element1" /><span>Label</span></div>
    <div class="col row"><img src="http://placehold.it/70x70" alt="Element1" /><span>Label</span></div>
    <div class="col row"><img src="http://placehold.it/70x70" alt="Element1" /><span>Label</span></div>
    <div class="col row"><img src="http://placehold.it/70x70" alt="Element1" /><span>Label</span></div>
    <div class="col row"><img src="http://placehold.it/70x70" alt="Element1" /><span>Label</span></div>
    <div class="col row"><img src="http://placehold.it/70x70" alt="Element1" /><span>Label</span></div>
    <div class="col row"><img src="http://placehold.it/70x70" alt="Element1" /><span>Label</span></div>
    <div class="col row"><img src="http://placehold.it/70x70" alt="Element1" /><span>Label</span></div>
    <div class="col row"><img src="http://placehold.it/70x70" alt="Element1" /><span>Label</span></div>

  </div>
</div>
</section>
</div>