@include media-breakpoint-down(xxl) {
}

@include media-breakpoint-down(xl) {
}

@include media-breakpoint-down(lg) {
  .side-nav {
    display: none;
  }

  .top-bar {
    position: relative;
  }

  .main-content {
    margin-left: 0;
    margin-bottom: 0;
  }

  .header {
    &__menu-button {
      display: block;
    }
  }

  .footer {
    position: relative;
    background-color: $bright_navy_blue;
    width: 100%;
    height: auto;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    z-index: -1;

    &__link {
      text-align: center;
      margin: 0 1rem;

      &:not(:first-child) {
        margin-left: 0;
      }
    }

    &__des {
      margin-top: 1rem;
    }

    &__highlight {
      font-weight: 500;
    }
  }
}

@include media-breakpoint-down(md) {
}

@include media-breakpoint-down(sm) {
  .display-center {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;
    height: 100vh;

    .display-center {
      &__box {
        width: 95%;
        height: auto;
        padding: 2rem 0;

        &--drop-shadow {
          filter: drop-shadow(0 0 0.85rem lighten($bright_navy_blue, 40));
        }
      }

      &__content {
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;

        &--center {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
        }
      }

      &__title {
        font-size: 2.1875rem;
        line-height: 2.9375rem;
        color: $bright_navy_blue;
        font-weight: 500;
        text-align: center;
      }

      &__sub-text {
        display: block;
        margin-top: 2.5rem;
        margin-bottom: 0.8rem;
        color: $lilac_blue;
        font-size: 1.125rem;
        font-weight: bold;
        line-height: 1.5rem;
        text-align: center;
      }

      &__extra {
        margin-top: 2.5rem;
        text-align: center;
        color: $lilac_blue;
        font-size: 0.75rem;
        line-height: 1rem;
        font-weight: 400;

        &-link {
          color: $lilac_blue;
          text-decoration: none;
          font-weight: bold;
        }
      }

      &__form {
        width: 90%;
        min-width: 90%;

        &-label {
          display: flex;
          margin: 0 auto;
          position: relative;
          width: 100%;
          height: 2.5rem;
          min-width: 100%;
          min-height: 2.5rem;
          align-items: center;
        }

        &-icon {
          position: absolute;
          z-index: 1;
          margin-left: 0.5rem;
          color: $lilac_blue;
          line-height: 0.9375rem;
          font-size: 0.9375rem;
        }

        &-input {
          position: relative;
          z-index: 0;
          width: 100%;
          height: 100%;
          display: block;
          padding-left: 2rem;
          color: $lilac_blue;
          background-color: $white_solid;
          border-color: $lilac_blue;

          &::placeholder {
            color: $lilac_blue;
            font-size: 0.9375rem;
            font-weight: 300;
            line-height: 1.25rem;
          }
        }

        &-submit-btn {
          margin-top: 0.5rem;
          width: 100%;
          height: 2.5rem;
          min-width: 100%;
          min-height: 2.5rem;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $bright_navy_blue;
          border: none;
          outline: none;
          border-radius: 0.3125rem;

          &-icon {
            color: $white;
            font-size: 1.125rem;
            line-height: 1.125rem;
          }

          &-text {
            color: $white;
            margin-left: 0.5rem;
            font-size: 0.9375rem;
            line-height: 1.25rem;
            font-weight: 500;
          }
        }
      }
    }
  }
}
