// Custom colors
$white_solid: #f5f6fa;
$orchid_whisper: #dde0e8;
$lilac_blue: #8094ae;
$annapolis_blue: #364a63;
$bright_navy_blue: #1473e6;
$treacherous_blizzard: #ddf5ea;
$green_elliott: #0ec46d;
$pico_ivory: #fff1e8;
$fluorescent_red_orange: #ff802b;
$lavender_mist: #e8e2fd;
$deep_daijin_blue: #3311aa;
$brilliant_azure: #2997ff;
$sweet_mallow: #ffe1e2;
$red_mana: #f85255;
$cotton_boll: #e8f0fb;

$colors: (
  "white_solid": $white_solid,
  "orchid_whisper": $orchid_whisper,
  "lilac_blue": $lilac_blue,
  "annapolis_blue": $annapolis_blue,
  "bright_navy_blue": $bright_navy_blue,
  "treacherous_blizzard": $treacherous_blizzard,
  "green_elliott": $green_elliott,
  "pico_ivory": $pico_ivory,
  "fluorescent_red_orange": $fluorescent_red_orange,
  "lavender_mist": $lavender_mist,
  "deep_daijin_blue": $deep_daijin_blue,
  "brilliant_azure": $brilliant_azure,
  "sweet_mallow": $sweet_mallow,
  "red_mana": $red_mana,
  "cotton_boll": $cotton_boll,
);
