// Custom colors
$white_solid: #f5f6fa;
$orchid_whisper: #dde0e8;
$lilac_blue: #8094ae;
$annapolis_blue: #364a63;
$bright_navy_blue: #1473e6;
$treacherous_blizzard: #ddf5ea;
$green_elliott: #0ec46d;
$pico_ivory: #fff1e8;
$fluorescent_red_orange: #ff802b;
$lavender_mist: #e8e2fd;
$deep_daijin_blue: #3311aa;
$brilliant_azure: #2997ff;
$sweet_mallow: #ffe1e2;
$red_mana: #f85255;
$cotton_boll: #e8f0fb;
