// Colors
@import 'colors';

// Bootstrap
$table-border-width: 0;
@import '../../../node_modules/bootstrap/scss/bootstrap';

// Variables
@import 'variables';

// Utilities
@import 'utilities';

// Components
@import 'components/button';
@import 'components/card';
@import 'components/text';
@import 'components/sidenav';
@import 'components/search-box';
@import 'components/form';
@import 'components/table';
@import 'components/page';
@import 'components/header';
@import 'components/details-box';
@import 'components/menu-list';
@import 'components/display';
@import 'components/footer';

.client-details {
  background-color: $white_solid;
}

.status--sm {
  span {
    font-size: 0.625rem;
    color: $white;
    font-weight: 400;
  }
}

@import 'brakepoints';
