// Colors
@import 'colors';

// Bootstrap
@import '../../../node_modules/bootstrap/scss/bootstrap';

// Variables
@import 'variables';

// Customization
.backdrops {
  background-color: rgba($color: #000000, $alpha: 0.2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  overflow: hidden;
  z-index: 1;
  display: none;
}

.side-nav {
  position: fixed;
  width: 14.0625rem;
  top: 0;
  left: 0;
  background-color: $white_solid;
  height: 100%;
  z-index: 2;

  &__header {
    height: 5.28125rem;
    min-height: 5.28125rem;
    max-height: 5.28125rem;
    display: flex;
    align-items: center;
  }

  &__title {
    color: $bright_navy_blue;
    font-size: $font-size-base * 2.1875;
  }
}

.btn {
  &-bright_navy_blue {
    @include button-variant($bright_navy_blue, $bright_navy_blue);
    font-size: 0.9375rem;
    line-height: 1.25rem;
  }

  &-text {
    border: none;
    outline: none;
    font-size: 0.9375rem;
    line-height: 1.25rem;
  }
}

.search-box {
  &__group-text {
    border-width: $input-btn-border-width * 2;
    border-color: lighten($color: $lilac_blue, $amount: 25);
  }

  &__icon {
    color: lighten($color: $lilac_blue, $amount: 1);
  }

  &__input {
    border-width: $input-btn-border-width * 2;
    border-color: lighten($color: $lilac_blue, $amount: 25);

    &:focus {
      box-shadow: none;
      border-width: $input-btn-border-width * 2;
      border-color: lighten($color: $lilac_blue, $amount: 25);
      color: $lilac_blue;
    }
  }
}

.menu-list {
  .list-item:not(:first-child) {
    margin-top: $spacer * 1;
  }
}

.list-item {
  &--active {
    .list-item__icon,
    .list-item__name {
      color: $bright_navy_blue;
      font-weight: bold;
    }
  }

  &__icon {
    font-size: $font-size-base * 1.125;
    line-height: $line-height-base;
    color: $annapolis_blue;
    width: 1.5rem;
    min-width: 1.5rem;
    text-align: center;
  }

  &__name {
    font-size: $font-size-base * 1.125;
    line-height: $line-height-base;
    color: $annapolis_blue;
    margin-left: $spacer * 1;
  }

  &__indicator {
    font-size: 0.9375rem;
    color: $orchid_whisper;
    line-height: 0.9375rem;
  }

  &__sub-menu-list {
    margin-left: $spacer * 2.8125;
  }

  &__sub-menu-item {
    font-size: 0.9375rem;
    line-height: 1.25rem;
    margin-top: $spacer * 0.7;
    cursor: pointer;

    &:hover,
    &:focus,
    &--active {
      color: $bright_navy_blue;
    }
  }
}

.main-content {
  margin-left: 225px;
  margin-bottom: 3.75rem;

  &__title {
    font-size: 1.25rem;
    line-height: 1.625rem;
    font-weight: bold;
    color: $annapolis_blue;
  }
}

.header {
  height: 5.28125rem;
  min-height: 5.28125rem;
  max-height: 5.28125rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__menu-button {
    display: none;
    color: $bright_navy_blue;

    &:hover,
    &:focus {
      color: darken($color: $bright_navy_blue, $amount: 5);
    }
  }

  &__actions {
    button:not(:first-child) {
      margin-left: $spacer * 0.4;
    }
  }
}

.details-box {
  border: none;
  outline: none;
  border-radius: 0.3125rem;
  height: 6.25rem;
  min-height: 6.25rem;
  max-height: 6.25rem;

  @each $key, $val in $details-box {
    $bold: map-get($val, 'bold');
    $light: map-get($val, 'light');

    &--#{$key} {
      background-color: $light;

      .details-box__icon,
      .details-box__count,
      .details-box__name {
        color: $bold;
      }
    }
  }

  &__icon {
    font-size: 1.4375rem;
    line-height: 1.4375rem;
    width: 3.75rem;
    height: 3.75rem;
    background-color: $white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__count {
    font-size: 1.75rem;
    font-weight: bold;
    line-height: 2.3125rem;
  }

  &__name {
    font-size: 0.9375rem;
    font-weight: 300;
    line-height: 1.25rem;
    white-space: nowrap;
  }
}

.card {
  &--no-border {
    border: none;
  }

  &-info {
    min-height: 15rem;
    max-height: 15rem;
    height: 15rem;
    border: none;
    outline: none;
    background-color: $white_solid;
    border-radius: 0.3125rem;
    overflow: auto;
  }

  &__header {
    height: 2.5rem;
    min-height: 2.5rem;
    max-height: 2.5rem;
    background-color: $bright_navy_blue;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;

    &-icon {
      height: 0.9375rem;
      width: 0.9375rem;
      line-height: 0.9375rem;
      color: $white;
      font-size: 0.9375rem;
    }

    &-name {
      font-weight: bold;
      line-height: 1.25rem;
      color: $white;
      font-size: 0.9375rem;
    }

    &-view-all {
      line-height: 0.8125rem;
      color: $white;
      font-size: 0.625rem;
    }
  }

  &__content {
    &-item:not(:last-child) {
      border-bottom: 1px solid lighten($color: $lilac_blue, $amount: 35);
    }

    &-icon {
      width: 1.25rem;
      height: 1.25rem;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      i {
        color: $white;
        font-size: 0.625rem;
      }

      @each $key, $val in $details-box {
        $bold: map-get($val, 'bold');

        &--#{$key} {
          background-color: $bold;
        }
      }
    }

    &-details {
      &-name {
        font-size: 0.75rem;
        line-height: 1rem;
        font-weight: 500;
        color: $annapolis_blue;
      }

      &-info {
        font-size: 0.75rem;
        line-height: 1rem;
        font-weight: 300;
        color: $annapolis_blue;
      }
    }

    &-time {
      font-size: 0.625rem;
      line-height: 0.8125rem;
      font-weight: 300;
      color: $annapolis_blue;
    }
  }
}

.menu {
  &__item {
    background-color: $white_solid;
    height: 2.5rem;
    display: flex;
    align-items: center;
    border-radius: 0.3125rem;
    overflow: hidden;

    &--active,
    &:hover,
    &:focus {
      background-color: $cotton_boll;

      .menu__icon {
        color: $bright_navy_blue;
        font-size: 0.9375rem;
        line-height: 0.9375rem;
      }

      .menu__name {
        color: $bright_navy_blue;
        font-size: 0.9375rem;
        line-height: 0.9375rem;
        font-weight: 500;
      }
    }
  }

  &__icon {
    color: $annapolis_blue;
    font-size: 0.9375rem;
    line-height: 0.9375rem;
  }

  &__name {
    color: $annapolis_blue;
    font-size: 0.9375rem;
    line-height: 1.25rem;
    font-weight: 400;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: $bright_navy_blue;
  width: 100%;
  height: 3.3125rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__link {
    &:not(:first-child) {
      margin-left: 1.5rem;
    }

    text-decoration: none;
    color: $white;
    line-height: 1.25rem;
    font-size: 0.9375rem;
  }

  &__des {
    color: $white;
    line-height: 1.25rem;
    font-size: 0.9375rem;
  }

  &__highlight {
    font-weight: 500;
  }
}

.display-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  border: none;
  outline: none;

  .display-center {
    &__box {
      width: 31.25rem;
      height: 40.625rem;

      &--drop-shadow {
        filter: drop-shadow(0 0 0.85rem lighten($bright_navy_blue, 40));
      }
    }

    &__content {
      display: flex;
      flex-direction: column;

      &--center {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
      }
    }

    &__title {
      font-size: 2.1875rem;
      line-height: 2.9375rem;
      color: $bright_navy_blue;
      font-weight: 500;
      text-align: center;
    }

    &__sub-text {
      display: block;
      margin-top: 2.5rem;
      margin-bottom: 0.8rem;
      color: $lilac_blue;
      font-size: 1.125rem;
      font-weight: bold;
      line-height: 1.5rem;
      text-align: center;
    }

    &__extra {
      margin-top: 2.5rem;
      text-align: center;
      color: $lilac_blue;
      font-size: 0.75rem;
      line-height: 1rem;
      font-weight: 400;

      &-link {
        color: $lilac_blue;
        text-decoration: none;
        font-weight: bold;
      }
    }

    &__form {
      &-label {
        display: flex;
        position: relative;
        width: 18.75rem;
        height: 2.5rem;
        min-width: 18.75rem;
        min-height: 2.5rem;
        align-items: center;
      }

      &-icon {
        position: absolute;
        z-index: 1;
        margin-left: 0.5rem;
        color: $lilac_blue;
        line-height: 0.9375rem;
        font-size: 0.9375rem;
      }

      &-input {
        position: relative;
        z-index: 0;
        width: 100%;
        height: 100%;
        display: block;
        padding-left: 2rem;
        color: $lilac_blue;
        background-color: $white_solid;
        border-color: $lilac_blue;

        &::placeholder {
          color: $lilac_blue;
          font-size: 0.9375rem;
          font-weight: 300;
          line-height: 1.25rem;
        }
      }

      &-submit-btn {
        margin-top: 0.5rem;
        width: 18.75rem;
        height: 2.5rem;
        min-width: 18.75rem;
        min-height: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $bright_navy_blue;
        border: none;
        outline: none;
        border-radius: 0.3125rem;

        &-icon {
          color: $white;
          font-size: 1.125rem;
          line-height: 1.125rem;
        }

        &-text {
          color: $white;
          margin-left: 0.5rem;
          font-size: 0.9375rem;
          line-height: 1.25rem;
          font-weight: 500;
        }
      }
    }
  }
}

@include media-breakpoint-down(xxl) {
}

@include media-breakpoint-down(xl) {
}

@include media-breakpoint-down(lg) {
  .side-nav {
    display: none;
  }

  .main-content {
    margin-left: 0;
    margin-bottom: 0;
  }

  .header {
    &__menu-button {
      display: block;
    }
  }

  .footer {
    position: relative;
    background-color: $bright_navy_blue;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    z-index: -1;

    &__link {
      text-align: center;
      margin: 0 1rem;

      &:not(:first-child) {
        margin-left: 0;
      }
    }

    &__des {
      margin-top: 1rem;
    }

    &__highlight {
      font-weight: 500;
    }
  }
}

@include media-breakpoint-down(md) {
}

@include media-breakpoint-down(sm) {
  .display-center {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;
    height: 100vh;

    .display-center {
      &__box {
        width: 95%;
        height: auto;
        padding: 2rem 0;

        &--drop-shadow {
          filter: drop-shadow(0 0 0.85rem lighten($bright_navy_blue, 40));
        }
      }

      &__content {
        display: flex;
        flex-direction: column;

        &--center {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
        }
      }

      &__title {
        font-size: 2.1875rem;
        line-height: 2.9375rem;
        color: $bright_navy_blue;
        font-weight: 500;
        text-align: center;
      }

      &__sub-text {
        display: block;
        margin-top: 2.5rem;
        margin-bottom: 0.8rem;
        color: $lilac_blue;
        font-size: 1.125rem;
        font-weight: bold;
        line-height: 1.5rem;
        text-align: center;
      }

      &__extra {
        margin-top: 2.5rem;
        text-align: center;
        color: $lilac_blue;
        font-size: 0.75rem;
        line-height: 1rem;
        font-weight: 400;

        &-link {
          color: $lilac_blue;
          text-decoration: none;
          font-weight: bold;
        }
      }

      &__form {
        width: 90%;
        min-width: 90%;

        &-label {
          display: flex;
          margin: 0 auto;
          position: relative;
          width: 100%;
          height: 2.5rem;
          min-width: 100%;
          min-height: 2.5rem;
          align-items: center;
        }

        &-icon {
          position: absolute;
          z-index: 1;
          margin-left: 0.5rem;
          color: $lilac_blue;
          line-height: 0.9375rem;
          font-size: 0.9375rem;
        }

        &-input {
          position: relative;
          z-index: 0;
          width: 100%;
          height: 100%;
          display: block;
          padding-left: 2rem;
          color: $lilac_blue;
          background-color: $white_solid;
          border-color: $lilac_blue;

          &::placeholder {
            color: $lilac_blue;
            font-size: 0.9375rem;
            font-weight: 300;
            line-height: 1.25rem;
          }
        }

        &-submit-btn {
          margin-top: 0.5rem;
          width: 100%;
          height: 2.5rem;
          min-width: 100%;
          min-height: 2.5rem;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $bright_navy_blue;
          border: none;
          outline: none;
          border-radius: 0.3125rem;

          &-icon {
            color: $white;
            font-size: 1.125rem;
            line-height: 1.125rem;
          }

          &-text {
            color: $white;
            margin-left: 0.5rem;
            font-size: 0.9375rem;
            line-height: 1.25rem;
            font-weight: 500;
          }
        }
      }
    }
  }
}
