@import '../../../node_modules/bootstrap/scss/bootstrap';
@import './colors';

.rw {
  max-width: 100%;
}

@media (min-width: 640px) {
  .rw {
    max-width: 90%;
  }
}

@media (min-width: 768px) {
  .rw {
    max-width: 75%;
  }
}

@media (min-width: 1040px) {
  .rw {
    max-width: 50%;
  }
}

#sticky-sidebar {
  position : fixed;
  max-width: 14.063rem;
  top: 0;
  left: 0;
  min-height: 100vh;
  overflow-y: auto;
  background-color: $primary-bg;
}

.custom-navbar {
  height: 4.625rem;
  border-bottom: 1px solid #8094ae71;
}
.app-nav, body {
  margin-left: 14.063rem;
}
.main {
  margin-top: 5.625rem;
}