<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Billing CMS</title>
    <link rel='stylesheet' href='/public/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/public/css/styles.css' />
  </head>
  <body>
    <div>
      {{> navigation }}
      <div class='container my-4'>
        {{{ body }}}
      </div>
    </div>
    <script src='/public/js/bootstrap.min.js'></script>
  </body>
</html>