<div class="container">
    <div class="mt-3">
        {{> flash-message }}
    </div>

    <div class="card mb-3">
        <h5 class="card-header border-bottom card-title">New Ticket</h5>
        <div class="card-body">
            <form action="/admin/tickets/new" method="post" enctype='multipart/form-data' class="form-group">
                <div class="row mt-3">
                    <div class="col-md-4">
                        <label class="form-label" for="priority">Priority</label>
                        <select class="form-control" id="priority" name="priority">
                            <option value="low">Low</option>
                            <option value="medium">Medium</option>
                            <option value="high">High</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label" for="department">Department</label>
                        <select class="form-control" id="department" name="type">
                            <option value="support">Support</option>
                            <option value="sales">Sales</option>
                            <option value="billing">Billing</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label" for="product">Product/Service</label>
                        <select class="form-control" id="product" name="product">
                            <option>None</option>
                            <option>Product 1</option>
                            <option>Product 2</option>
                        </select>
                    </div>
                </div>
                <div class="mb-3 mt-3">
                    <label class="form-label" for="subject">Subject</label>
                    <input type="text" class="form-control" id="subject" placeholder="Enter Subject" name="subject">
                </div>
                <div class="mb-3 mt-3">
                    <label class="form-label" for="body">Body</label>
                    <textarea type="text" class="form-control" id="body" placeholder="What question do you have?"
                        name="body" rows="10"></textarea>
                </div>

                <div class="mb-3 mt-3">
                    <label class="form-label" for="priority">Attachments</label>
                    <input class="form-control" type="file" name="file" id="priority" multiple="" name="attachedFile">
                </div>
                <div class="col-12 mt-1">
                    <button type="submit" class="btn btn-primary me-2">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>