<div class="container">
    <div class="card my-4">
        <div class="card-header  border-bottom">
            <div class="d-flex justify-content-between">
                <div class="d-flex align-self-center">
                    <h5>Support Tickets</h5>
                </div>
                <div class="d-flex justify-content-end">
                    <div class="btn btn-primary">New</div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">Subject</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody class="">
                    <tr>
                        <td>
                            <div class="d-flex">
                                <div class="d-flex flex-column"><a href="ticket-5645645"
                                        class="text-body text-truncate"><span class="fw-semibold">SSL Not
                                            Working</span></a><small class="text-muted">2 hour ago</small>
                                </div>
                            </div>
                        </td>
                        <td><span class="badge bg-info">Active</span></td>
                        <td>
                            <div class="d-inline-block"><button class="btn btn-sm btn-icon dropdown-toggle hide-arrow"
                                    data-bs-toggle="dropdown" aria-expanded="false"><i
                                        class="fa-solid fa-ellipsis-vertical"></i></button>
                                <div class="dropdown-menu dropdown-menu-end" style=""><a
                                        href="app-user-view-account.html" class="dropdown-item">View</a><a
                                        href="javascript:;" class="dropdown-item">Close</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="d-flex">
                                <div class="d-flex flex-column"><a href="ticket-5645645"
                                        class="text-body text-truncate"><span class="fw-semibold">Payment
                                            Pending</span></a><small class="text-muted">1 hours ago</small>
                                </div>
                            </div>
                        </td>
                        <td><span class="badge bg-info">Active</span></td>
                        <td>
                            <div class="d-inline-block"><button class="btn btn-sm btn-icon dropdown-toggle hide-arrow"
                                    data-bs-toggle="dropdown" aria-expanded="false"><i
                                        class="fa-solid fa-ellipsis-vertical"></i></button>
                                <div class="dropdown-menu dropdown-menu-end" style=""><a
                                        href="app-user-view-account.html" class="dropdown-item">View</a><a
                                        href="javascript:;" class="dropdown-item">Close</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>