<div class="mx-6 my-4">
    <h3 class="text-xl font-bold tracking-normal text-gray-600">Client Details</h3>

    <div>
        <form class="flex mt-2 space-x-2" action="#">
            <label class="w-2/3 form-label" for="search">
                <div class="form-input-icon">
                    <i class="fas fa-user"></i>
                </div>
                <input class="w-full form-control" type="text" placeholder="Search client">
                <div class="right-0 flex items-center justify-center form-input-icon">
                    <i class="fas fa-sort-down"></i>
                </div>
            </label>
            <button class="px-3 space-x-2 text-white bg-blue-600 rounded-md">
                <i class="fas fa-refresh"></i>
                <span class="text-sm font-medium">Update</span>
            </button>
        </form>

        <h4 class="mt-4 text-base font-medium tracking-normal text-gray-600">Update Profile</h4>
        <div class="w-full mt-2 bg-gray-100 rounded">
            <button class="px-6 py-2 text-sm">Summary</button>
            <button class="px-6 py-2 text-sm text-white bg-blue-600 rounded-md">Profile</button>
            <button class="px-6 py-2 text-sm ">Users</button>
            <button class="px-6 py-2 text-sm ">Contacts</button>
            <button class="px-6 py-2 text-sm ">Services</button>
            <button class="px-6 py-2 text-sm ">Billable Items</button>
            <button class="px-6 py-2 text-sm ">Invoices</button>
            <button class="px-6 py-2 text-sm ">Quotes</button>
            <button class="px-6 py-2 text-sm ">Transactions</button>
            <button class="px-6 py-2 text-sm ">Tickets</button>
            <button class="px-6 py-2 text-sm ">Emails</button>
            <button class="px-6 py-2 text-sm ">Notes</button>
        </div>

        <div class="w-full mt-2 overflow-hidden bg-gray-100 rounded-md">
            <form class="grid grid-cols-2 px-6 py-2" action="#">
                <div class="space-y-2">
                    <label class="form-label" for="name">
                        <span class="font-normal tracking-tight text-gray-500 text-tiny w-28">First Name</span>
                        <input
                            class="w-72 text-base px-2 border  border-gray-200 focus:outline-none py-1.5 rounded-md text-gray-400;"
                            type="text" />
                    </label>

                    <label class="form-label" for="name">
                        <span class="font-normal tracking-tight text-gray-500 text-tiny w-28">Last Name</span>
                        <input
                            class="w-72 text-base px-2 border  border-gray-200 focus:outline-none py-1.5 rounded-md text-gray-400;"
                            type="text" />
                    </label>

                    <label class="form-label" for="name">
                        <span class="font-normal tracking-tight text-gray-500 text-tiny w-28">Company</span>
                        <input
                            class="w-72 text-base px-2 border  border-gray-200 focus:outline-none py-1.5 rounded-md text-gray-400;"
                            type="text" />
                    </label>

                    <label class="form-label" for="name">
                        <span class="font-normal tracking-tight text-gray-500 text-tiny w-28">Email Address</span>
                        <input
                            class="w-72 text-base px-2 border  border-gray-200 focus:outline-none py-1.5 rounded-md text-gray-400;"
                            type="text" />
                    </label>

                    <label class="form-label" for="name">
                        <span class="font-normal tracking-tight text-gray-500 text-tiny w-28">Phone Number</span>
                        <input
                            class="w-72 text-base px-2 border  border-gray-200 focus:outline-none py-1.5 rounded-md text-gray-400;"
                            type="text" />
                    </label>

                    <label class="form-label" for="name">
                        <span class="font-normal tracking-tight text-gray-500 text-tiny w-28">Language</span>
                        <select
                            class="w-72 text-base px-2 border  border-gray-200 focus:outline-none py-1.5 rounded-md text-gray-400;">
                            <option value="English">English</option>
                            <option value="Hindi">Hindi</option>
                        </select>
                    </label>
                </div>

                <div class="space-y-2">
                    <label class="form-label" for="name">
                        <span class="font-normal tracking-tight text-gray-500 text-tiny w-28">Address</span>
                        <input
                            class="w-72 text-base px-2 border  border-gray-200 focus:outline-none py-1.5 rounded-md text-gray-400;"
                            type="text" />
                    </label>

                    <label class="form-label" for="name">
                        <span class="font-normal tracking-tight text-gray-500 text-tiny w-28">City</span>
                        <input
                            class="w-72 text-base px-2 border  border-gray-200 focus:outline-none py-1.5 rounded-md text-gray-400;"
                            type="text" />
                    </label>

                    <label class="form-label" for="name">
                        <span class="font-normal tracking-tight text-gray-500 text-tiny w-28">State</span>
                        <select
                            class="w-72 text-base px-2 border  border-gray-200 focus:outline-none py-1.5 rounded-md text-gray-400;">
                            <option value="Maharashtra">Maharashtra</option>
                        </select>
                    </label>

                    <label class="form-label" for="name">
                        <span class="font-normal tracking-tight text-gray-500 text-tiny w-28">Postcode</span>
                        <input
                            class="w-72 text-base px-2 border  border-gray-200 focus:outline-none py-1.5 rounded-md text-gray-400;"
                            type="text" />
                    </label>

                    <label class="form-label" for="name">
                        <span class="font-normal tracking-tight text-gray-500 text-tiny w-28">Country</span>
                        <select
                            class="w-72 text-base px-2 border  border-gray-200 focus:outline-none py-1.5 rounded-md text-gray-400;">
                            <option value="India">India</option>
                        </select>
                    </label>

                    <label class="form-label" for="name">
                        <span class="font-normal tracking-tight text-gray-500 text-tiny w-28">Currency</span>
                        <select
                            class="w-72 text-base px-2 border  border-gray-200 focus:outline-none py-1.5 rounded-md text-gray-400;">
                            <option value="USD">USD</option>
                        </select>
                    </label>
                </div>

                <div class="col-span-2 mt-4">
                    <div class="flex items-center">
                        <span
                            class="font-normal tracking-tight text-gray-500 place-self-start text-tiny w-28">Settings</span>

                        <div class="grid w-full grid-cols-3">
                            <div class="space-y-1.5">
                                <label for="lateFees" class="flex items-center space-x-3 cursor-pointer">
                                    <div class="relative">
                                        <input type="checkbox" id="lateFees" class="sr-only" />
                                        <div class="block w-5 h-3 bg-gray-400 rounded-sm line"></div>
                                        <div class="absolute top-0 bottom-0 w-2 h-2 my-auto transition bg-white rounded-sm dot"
                                            style="left: 2px;"></div>
                                    </div>
                                    <div class="font-normal tracking-tight text-gray-500 text-tiny w-28 whitespace-nowrap">
                                        Late Fees
                                    </div>
                                </label>

                                <label for="separateInvoices" class="flex items-center space-x-3 cursor-pointer">
                                    <div class="relative">
                                        <input type="checkbox" id="separateInvoices" class="sr-only" />
                                        <div class="block w-5 h-3 bg-gray-400 rounded-sm line"></div>
                                        <div class="absolute top-0 bottom-0 w-2 h-2 my-auto transition bg-white rounded-sm dot"
                                            style="left: 2px;"></div>
                                    </div>
                                    <div class="font-normal tracking-tight text-gray-500 text-tiny w-28 whitespace-nowrap">
                                        Separate Invoices
                                    </div>
                                </label>

                                <label for="statusUpdate" class="flex items-center space-x-3 cursor-pointer">
                                    <div class="relative">
                                        <input type="checkbox" id="statusUpdate" class="sr-only" />
                                        <div class="block w-5 h-3 bg-gray-400 rounded-sm line"></div>
                                        <div class="absolute top-0 bottom-0 w-2 h-2 my-auto transition bg-white rounded-sm dot"
                                            style="left: 2px;"></div>
                                    </div>
                                    <div class="font-normal tracking-tight text-gray-500 text-tiny w-28 whitespace-nowrap">
                                        Status Update
                                    </div>
                                </label>
                            </div>

                            <div class="space-y-1.5">
                                <label for="overdueNotices" class="flex items-center space-x-3 cursor-pointer">
                                    <div class="relative">
                                        <input type="checkbox" id="overdueNotices" class="sr-only" />
                                        <div class="block w-5 h-3 bg-gray-400 rounded-sm line"></div>
                                        <div class="absolute top-0 bottom-0 w-2 h-2 my-auto transition bg-white rounded-sm dot"
                                            style="left: 2px;"></div>
                                    </div>
                                    <div class="font-normal tracking-tight text-gray-500 text-tiny w-28 whitespace-nowrap">
                                        Overdue Notices
                                    </div>
                                </label>

                                <label for="disableCCProcessing" class="flex items-center space-x-3 cursor-pointer">
                                    <div class="relative">
                                        <input type="checkbox" id="disableCCProcessing" class="sr-only" />
                                        <div class="block w-5 h-3 bg-gray-400 rounded-sm line"></div>
                                        <div class="absolute top-0 bottom-0 w-2 h-2 my-auto transition bg-white rounded-sm dot"
                                            style="left: 2px;"></div>
                                    </div>
                                    <div
                                        class="font-normal tracking-tight text-gray-500 whitespace-nowrap text-tiny w-28">
                                        Disable CC Processing
                                    </div>
                                </label>

                                <label for="statusUpdate2" class="flex items-center space-x-3 cursor-pointer">
                                    <div class="relative">
                                        <input type="checkbox" id="statusUpdate2" class="sr-only" />
                                        <div class="block w-5 h-3 bg-gray-400 rounded-sm line"></div>
                                        <div class="absolute top-0 bottom-0 w-2 h-2 my-auto transition bg-white rounded-sm dot"
                                            style="left: 2px;"></div>
                                    </div>
                                    <div class="font-normal tracking-tight text-gray-500 text-tiny w-28 whitespace-nowrap">
                                        Status Update
                                    </div>
                                </label>
                            </div>

                            <div class="space-y-1.5">
                                <label for="lateFees1" class="flex items-center space-x-3 cursor-pointer">
                                    <div class="relative">
                                        <input type="checkbox" id="lateFees1" class="sr-only" />
                                        <div class="block w-5 h-3 bg-gray-400 rounded-sm line"></div>
                                        <div class="absolute top-0 bottom-0 w-2 h-2 my-auto transition bg-white rounded-sm dot"
                                            style="left: 2px;"></div>
                                    </div>
                                    <div class="font-normal tracking-tight text-gray-500 text-tiny w-28 whitespace-nowrap">
                                        Late Fees
                                    </div>
                                </label>

                                <label for="taxExempt" class="flex items-center space-x-3 cursor-pointer">
                                    <div class="relative">
                                        <input type="checkbox" id="taxExempt" class="sr-only" />
                                        <div class="block w-5 h-3 bg-gray-400 rounded-sm line"></div>
                                        <div class="absolute top-0 bottom-0 w-2 h-2 my-auto transition bg-white rounded-sm dot"
                                            style="left: 2px;"></div>
                                    </div>
                                    <div class="font-normal tracking-tight text-gray-500 text-tiny w-28 whitespace-nowrap">
                                        Tax Exempt
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>