<div class="mx-6 my-4">
    <h3 class="text-xl font-bold tracking-normal text-gray-600">Client Details</h3>

    <div>
        <form class="flex mt-2 space-x-2" action="#">
            <label class="w-2/3 form-label" for="search">
                <div class="form-input-icon">
                    <i class="fas fa-user"></i>
                </div>
                <input class="w-full form-control" type="text" placeholder="Search client">
                <div class="right-0 flex items-center justify-center form-input-icon">
                    <i class="fas fa-sort-down"></i>
                </div>
            </label>
            <button class="px-3 space-x-2 text-white bg-blue-600 rounded-md">
                <i class="fas fa-refresh"></i>
                <span class="text-sm font-medium">Update</span>
            </button>
        </form>

        <h4 class="mt-4 text-base font-medium tracking-normal text-gray-600">Update Profile</h4>
        <div class="w-full mt-2 bg-gray-100 rounded">
            <button class="px-6 py-1.5 text-sm">Summary</button>
            <button class="px-6 py-1.5 text-sm text-white bg-blue-600 rounded-md">Profile</button>
            <button class="px-6 py-1.5 text-sm ">Users</button>
            <button class="px-6 py-1.5 text-sm ">Contacts</button>
            <button class="px-6 py-1.5 text-sm ">Services</button>
            <button class="px-6 py-1.5 text-sm ">Billable Items</button>
            <button class="px-6 py-1.5 text-sm ">Invoices</button>
            <button class="px-6 py-1.5 text-sm ">Quotes</button>
            <button class="px-6 py-1.5 text-sm ">Transactions</button>
            <button class="px-6 py-1.5 text-sm ">Tickets</button>
            <button class="px-6 py-1.5 text-sm ">Emails</button>
            <button class="px-6 py-1.5 text-sm ">Notes</button>
        </div>

        <div class="w-full mt-2 bg-gray-100">
            <form class="px-4 py-2" action="#">
                <label class="form-label" for="firstName">
                    <span>First Name</span>
                    <input class="form-control w-75" type="text" />
                </label>
            </form>
        </div>
    </div>
</div>