<div class="container-fluid">
    <div class="mx-2 my-3">
        <span class="main-content__title">Client Details</span>
    </div>
    <form class='row row-cols-1 row-cols-xl-2 g-2 client-details-form' action='#'>
        <label class='client-details-form__label'>
            <i class='fas fa-user client-details-form__icon'></i>
            <select class="form-select client-details-form__input" aria-label="Default select example">
                <option selected>Amol Wale #1785</option>
                <option value="1">Amol Wale #1785</option>
                <option value="2">Amol Wale #1785</option>
                <option value="3">Amol Wale #1785</option>
            </select>
        </label>
        <button class="btn client-details-form__update-btn">
            <i class="fas fa-sync-alt client-details-form__update-btn-icon"></i>
            <span class="client-details-form__update-btn-text">Update</span>
        </button>
    </form>

    <span class='mt-4 d-block main-content__sub-text main-content__sub-text--strong'>
        Update Profile
    </span>

    <div class="mt-2 btn-group btn-profile-group" role="group">
        <button type="button" class="btn btn-profile">Left</button>
        <button type="button" class="btn btn-primary btn-profile rounded">Middle</button>
        <button type="button" class="btn btn-profile">Right</button>
    </div>

    <div class="rounded client-details">
        <form action="#">
            <div class="my-2 row row-cols-1 row-cols-md-2 g-2">
                <div class="px-4 py-2">
                    <div class="mb-3 row">
                        <label for="inputPassword" class="col-auto col-form-label text-nowrap" style="width: 8.5rem;">
                            First Name
                        </label>
                        <div class="col-12  col-md-8">
                            <input type="password" class="form-control" id="inputPassword" style="width: 100%;">
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="inputPassword" class="col-auto col-form-label text-nowrap" style="width: 8.5rem;">
                            Last Name
                        </label>
                        <div class="col-12  col-md-8">
                            <input type="password" class="form-control" id="inputPassword" style="width: 100%;">
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="inputPassword" class="col-auto col-form-label text-nowrap" style="width: 8.5rem;">
                            Company
                        </label>
                        <div class="col-12  col-md-8">
                            <input type="password" class="form-control" id="inputPassword" style="width: 100%;">
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="inputPassword" class="col-auto col-form-label text-nowrap" style="width: 8.5rem;">
                            Email Address
                        </label>
                        <div class="col-12  col-md-8">
                            <input type="password" class="form-control" id="inputPassword" style="width: 100%;">
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="inputPassword" class="col-auto col-form-label text-nowrap" style="width: 8.5rem;">
                            Phone Number
                        </label>
                        <div class="col-12  col-md-8">
                            <input type="password" class="form-control" id="inputPassword" style="width: 100%;">
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="inputPassword" class="col-auto col-form-label text-nowrap" style="width: 8.5rem;">
                            Language
                        </label>
                        <div class="col-12  col-md-8">
                            <input type="password" class="form-control" id="inputPassword" style="width: 100%;">
                        </div>
                    </div>
                </div>
                <div class="px-4 py-2">
                    <div class="mb-3 row">
                        <label for="inputPassword" class="col-auto col-form-label text-nowrap" style="width: 8.5rem;">
                            Address
                        </label>
                        <div class="col-12  col-md-8">
                            <input type="password" class="form-control" id="inputPassword" style="width: 100%;">
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="inputPassword" class="col-auto col-form-label text-nowrap" style="width: 8.5rem;">
                            City
                        </label>
                        <div class="col-12  col-md-8">
                            <input type="password" class="form-control" id="inputPassword" style="width: 100%;">
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="inputPassword" class="col-auto col-form-label text-nowrap" style="width: 8.5rem;">
                            State
                        </label>
                        <div class="col-12  col-md-8">
                            <input type="password" class="form-control" id="inputPassword" style="width: 100%;">
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="inputPassword" class="col-auto col-form-label text-nowrap" style="width: 8.5rem;">
                            Postcode
                        </label>
                        <div class="col-12  col-md-8">
                            <input type="password" class="form-control" id="inputPassword" style="width: 100%;">
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="inputPassword" class="col-auto col-form-label text-nowrap" style="width: 8.5rem;">
                            Country
                        </label>
                        <div class="col-12  col-md-8">
                            <input type="password" class="form-control" id="inputPassword" style="width: 100%;">
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="inputPassword" class="col-auto col-form-label text-nowrap" style="width: 8.5rem;">
                            Currency
                        </label>
                        <div class="col-12  col-md-8">
                            <input type="password" class="form-control" id="inputPassword" style="width: 100%;">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>