<main class='container-fluid'>
  <div class='mx-2 my-3'>
    <h3 class='main-content__title'>Search Client</h3>

    <div>
      <form
        class='row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-5 g-2 client-search-form'
        action='#'
      >
        <div class='col'>
          <label class='client-search-form__label'>
            <i class='fas fa-user client-search-form__icon'></i>
            <input
              type='text'
              class='form-control client-search-form__input'
              placeholder='Name'
            />
          </label>
        </div>

        <div class='col'>
          <label class='client-search-form__label'>
            <i class='fas fa-building client-search-form__icon'></i>
            <input
              type='text'
              class='form-control client-search-form__input'
              placeholder='Company'
            />
          </label>
        </div>

        <div class='col'>
          <label class='client-search-form__label'>
            <i class='fas fa-envelope client-search-form__icon'></i>
            <input
              type='text'
              class='form-control client-search-form__input'
              placeholder='Email Address'
            />
          </label>
        </div>

        <div class='col'>
          <label class='client-search-form__label'>
            <i class='fas fa-phone client-search-form__icon'></i>
            <input
              type='text'
              class='form-control client-search-form__input'
              placeholder='Phone No.'
            />
          </label>
        </div>

        <div class='col'>
          <button type='submit' class='btn client-search-form__submit-btn'>
            <i class='fas fa-search client-search-form__submit-btn-icon'></i>
            <span class='client-search-form__submit-btn-text'>Search</span>
          </button>
        </div>
      </form>

      <span class='mt-4 d-block main-content__sub-text'>
        <span class='main-content__sub-text--strong'>320</span>
        Search results found. Showing
        <span class='main-content__sub-text--strong'>1</span>
        to
        <span class='main-content__sub-text--strong'>50</span>
      </span>

      <div class='mt-2 table-responsive'>
        <table class='table search-result-table'>
          <thead>
            <tr>
              <th scope='col'>ID</th>
              <th scope='col'>First Name</th>
              <th scope='col'>Last Name</th>
              <th scope='col'>Company</th>
              <th scope='col'>Email Address</th>
              <th scope='col'>Phone No.</th>
              <th scope='col'>Services</th>
              <th scope='col'>Created</th>
              <th scope='col'>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>Mark</td>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td class='status--sm'>
                <span class='badge bg-green'>Active</span>
              </td>
            </tr>
            <tr>
              <td>2</td>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>Mark</td>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td class='status--sm'>
                <span class='badge bg-red'>Closed</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <nav class='d-flex align-items-center justify-content-center'>
        <ul class='pagination'>
          <li class='page-item page-item--active'>
            <a
              class='page-link page-link--active'
              href='#'
              aria-label='Previous'
            >
              <span aria-hidden='true'>
                <i class='fas fa-angle-left'></i>
              </span>
            </a>
          </li>
          <li class='page-item'><a class='page-link' href='#'>
              1
            </a>
          </li>
          <li class='page-item'><a class='page-link' href='#'>2</a></li>
          <li class='page-item'><a class='page-link' href='#'>3</a></li>
          <li class='page-item'>
            <a class='page-link' href='#' aria-label='Next'>
              <i class='fas fa-angle-right'></i>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</main>