<div class='m-4'>
  <div class='text-lg font-bold leading-none tracking-normal text-gray-500'>
    Search Client
  </div>
  <div class='mt-4'>
    <form class="space-y-2 sm:grid sm:grid-cols-2 sm:gap-2 sm:space-y-0 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5"
      action="#">
      <label class='form-label' for='name'>
        <div class='form-input-icon'>
          <i class='far fa-user'></i>
        </div>
        <input type='text' name='name' id='name' class=' form-control' placeholder='Name' />
      </label>

      <label class='form-label' for='company'>
        <div class='form-input-icon'>
          <i class='far fa-building'></i>
        </div>
        <input type='text' name='company' id='company' class=' form-control' placeholder='Company' />
      </label>

      <label class='form-label' for='email'>
        <div class='form-input-icon'>
          <i class='far fa-envelope'></i>
        </div>
        <input type='email' name='email' id='email' class='form-control' placeholder='Email Address' />
      </label>

      <label class='form-label' for='phone'>
        <div class='form-input-icon'>
          <i class='fas fa-phone'></i>
        </div>
        <input type='number' name='phone' id='phone' class='form-control' placeholder='Phone No.' />
      </label>

      <label class='form-label' for='phone'>
        <div class='form-search-icon'>
          <i class='fas fa-search'></i>
        </div>
        <input type='button' name='phone' id='phone' class='form-search-button' value='Search' />
      </label>

    </form>
  </div>

  <div class='mt-6'>
    <div class='user-search-result'>
      <span class='user-search-result-count'>320</span>
      Search results found, Showing
      <span class='user-search-result-count'>1</span>
      to
      <span class='user-search-result-count'>50</span>
    </div>
  </div>

  <div class='pb-4 mt-2 overflow-x-scroll lg:no-scrollbar'>
    <table class='w-full overflow-hidden bg-white divide-y divide-gray-300 rounded-lg table-auto whitespace-nowrap'>
      <thead class='bg-blue-500'>
        <tr class='text-left text-white'>
          <th class='px-4 py-2 text-sm font-semibold'>ID</th>
          <th class='px-4 py-2 text-sm font-semibold'>
            First Name
          </th>
          <th class='px-4 py-2 text-sm font-semibold'>
            Last Name
          </th>
          <th class='px-4 py-2 text-sm font-semibold'>
            Company
          </th>
          <th class='px-4 py-2 text-sm font-semibold'>
            Email Address
          </th>
          <th class='px-4 py-2 text-sm font-semibold'>
            Phone No.
          </th>
          <th class='px-4 py-2 text-sm font-semibold'>
            Services
          </th>
          <th class='px-4 py-2 text-sm font-semibold'>
            Created
          </th>
          <th class='px-4 py-2 text-sm font-semibold'>
            Status
          </th>
        </tr>
      </thead>
      <tbody class='bg-gray-100 divide-y'>
        <tr>
          <td class='px-4 py-1.5 text-gray-400'>
            1785
          </td>
          <td class='px-4 py-1.5 text-gray-400'>
            Amol
          </td>
          <td class='px-4 py-1.5 text-gray-400'>
            Wale
          </td>
          <td class='px-4 py-1.5 text-gray-400'>
            Phantom
          </td>
          <td class='px-4 py-1.5 text-gray-400'>
            amolwale@gmail.coom
          </td>
          <td class='px-4 py-1.5 text-gray-400'>
            +917856789
          </td>
          <td class='px-4 py-1.5 text-gray-400'>
            5/7
          </td>
          <td class='px-4 py-1.5 text-gray-400'>
            21-Jan-2021
          </td>
          <td class='px-4 py-1.5 text-gray-400'>
            <span class='text-xs text-white bg-green-500 rounded p-0.5'>Active</span>
          </td>
        </tr>

        <tr>
          <td class='px-4 py-1.5 text-gray-400'>
            1785
          </td>
          <td class='px-4 py-1.5 text-gray-400'>
            Amol
          </td>
          <td class='px-4 py-1.5 text-gray-400'>
            Wale
          </td>
          <td class='px-4 py-1.5 text-gray-400'>
            Phantom
          </td>
          <td class='px-4 py-1.5 text-gray-400'>
            amolwale@gmail.coom
          </td>
          <td class='px-4 py-1.5 text-gray-400'>
            +917856789
          </td>
          <td class='px-4 py-1.5 text-gray-400'>
            5/7
          </td>
          <td class='px-4 py-1.5 text-gray-400'>
            21-Jan-2021
          </td>
          <td class='px-4 py-1.5 text-gray-400'>
            <span class='text-xs text-white bg-green-500 rounded p-0.5'>Active</span>
          </td>
        </tr>

        <tr>
          <td class='px-4 py-1.5 text-gray-400'>
            1785
          </td>
          <td class='px-4 py-1.5 text-gray-400'>
            Amol
          </td>
          <td class='px-4 py-1.5 text-gray-400'>
            Wale
          </td>
          <td class='px-4 py-1.5 text-gray-400'>
            Phantom
          </td>
          <td class='px-4 py-1.5 text-gray-400'>
            amolwale@gmail.coom
          </td>
          <td class='px-4 py-1.5 text-gray-400'>
            +917856789
          </td>
          <td class='px-4 py-1.5 text-gray-400'>
            5/7
          </td>
          <td class='px-4 py-1.5 text-gray-400'>
            21-Jan-2021
          </td>
          <td class='px-4 py-1.5 text-gray-400'>
            <span class='text-xs text-white bg-green-500 rounded p-0.5'>Active</span>
          </td>
        </tr>

        <tr>
          <td class='px-4 py-1.5 text-gray-400'>
            1785
          </td>
          <td class='px-4 py-1.5 text-gray-400'>
            Amol
          </td>
          <td class='px-4 py-1.5 text-gray-400'>
            Wale
          </td>
          <td class='px-4 py-1.5 text-gray-400'>
            Phantom
          </td>
          <td class='px-4 py-1.5 text-gray-400'>
            amolwale@gmail.coom
          </td>
          <td class='px-4 py-1.5 text-gray-400'>
            +917856789
          </td>
          <td class='px-4 py-1.5 text-gray-400'>
            5/7
          </td>
          <td class='px-4 py-1.5 text-gray-400'>
            21-Jan-2021
          </td>
          <td class='px-4 py-1.5 text-gray-400'>
            <span class='text-xs text-white bg-green-500 rounded p-0.5'>Active</span>
          </td>
        </tr>

        <tr>
          <td class='px-4 py-1.5 text-gray-400'>
            1785
          </td>
          <td class='px-4 py-1.5 text-gray-400'>
            Amol
          </td>
          <td class='px-4 py-1.5 text-gray-400'>
            Wale
          </td>
          <td class='px-4 py-1.5 text-gray-400'>
            Phantom
          </td>
          <td class='px-4 py-1.5 text-gray-400'>
            amolwale@gmail.coom
          </td>
          <td class='px-4 py-1.5 text-gray-400'>
            +917856789
          </td>
          <td class='px-4 py-1.5 text-gray-400'>
            5/7
          </td>
          <td class='px-4 py-1.5 text-gray-400'>
            21-Jan-2021
          </td>
          <td class='px-4 py-1.5 text-gray-400'>
            <span class='text-xs text-white bg-red-500 rounded p-0.5'>Closed</span>
          </td>
        </tr>

      </tbody>
    </table>
  </div>

  <div class='flex items-center justify-center mt-4 space-x-2'>
    <button class='px-3 py-1 font-bold text-gray-500 bg-gray-100 rounded'>
      <i class='fas fa-chevron-left'></i>
    </button>
    <button class='px-3 py-1 font-bold text-white bg-blue-500 rounded'>
      1
    </button>
    <button class='px-3 py-1 font-medium text-gray-500 bg-gray-100 rounded'>
      2
    </button>
    <button class='px-3 py-1 font-medium text-gray-500 bg-gray-100 rounded'>
      3
    </button>
    <button class='px-3 py-1 font-medium text-gray-500 bg-gray-100 rounded'>
      4
    </button>
    <button class='px-3 py-1 font-medium text-gray-500 bg-gray-100 rounded'>
      5
    </button>
    <button class='px-3 py-1 font-bold text-gray-500 bg-gray-100 rounded'>
      <i class='fas fa-chevron-right'></i>
    </button>
  </div>
</div>