<div class="container-fluid mb-3">
    <div class="mx-2 my-3">
        <span class="main-content__title">Client Details</span>
    </div>
    <form class='row row-cols-1 row-cols-xl-2 g-2 client-details-form' action='#'>
        <label class='client-details-form__label'>
            <i class='fas fa-user client-details-form__icon'></i>
            <select class="form-select client-details-form__input" aria-label="Default select example">
                <option selected>Amol Wale #1785</option>
                <option value="1">Amol Wale #1785</option>
                <option value="2">Amol Wale #1785</option>
                <option value="3">Amol Wale #1785</option>
            </select>
        </label>
        <button class="btn client-details-form__update-btn">
            <i class="fas fa-sync-alt client-details-form__update-btn-icon"></i>
            <span class="client-details-form__update-btn-text">Update</span>
        </button>
    </form>

    <span class='mt-4 d-block main-content__sub-text main-content__sub-text--strong'>
        Profile Summary
    </span>

    <div class="mt-2 btn-group btn-profile-group" role="group">
        <button type="button" class="btn btn-profile btn-primary rounded">Summary</button>
        <button type="button" class="btn btn-profile">Profile</button>
        <button type="button" class="btn btn-profile">Users</button>
    </div>

    <div class="rounded client-details">
       
    </div>
</div>