<div class="mb-4">
    <div class="mx-4">
        <div class="my-3">
            <span class="main-content__title">Client Details</span>
        </div>
        <form class='row row-cols-1 row-cols-xl-2 g-2 client-details-form' action='#'>
            <label class='client-details-form__label'>
                <i class='fas fa-user client-details-form__icon'></i>
                <select class="form-select client-details-form__input" aria-label="Default select example">
                    <option selected>Amol Wale #1785</option>
                    <option value="1">Amol Wale #1785</option>
                    <option value="2">Amol Wale #1785</option>
                    <option value="3">Amol Wale #1785</option>
                </select>
            </label>
            <button class="btn client-details-form__update-btn">
                <i class="fas fa-sync-alt client-details-form__update-btn-icon"></i>
                <span class="client-details-form__update-btn-text">Update</span>
            </button>
        </form>

        <span class='mt-4 d-block main-content__sub-text main-content__sub-text--strong'>
            Profile Summary
        </span>

        <div class="mt-2 btn-group btn-profile-group" role="group">
            <button type="button" class="btn btn-profile btn--bright_navy_blue rounded">Summary</button>
            <button type="button" class="btn btn-profile">Profile</button>
            <button type="button" class="btn btn-profile">Users</button>
        </div>

        <div class='mt-2 table-responsive'>
            <table class='table search-result-table'>
                <thead>
                    <tr>
                        <th scope='col'>ID</th>
                        <th scope='col'>Services/Products</th>
                        <th scope='col'>Amount</th>
                        <th scope='col'>Billing Cycle</th>
                        <th scope='col'>Signup Date</th>
                        <th scope='col'>Next Due Date</th>
                        <th scope='col'>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>Mark</td>
                        <td>Mark</td>
                        <td class='status--sm'>
                            <span class='badge bg-green'>Active</span>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>Mark</td>
                        <td>Mark</td>
                        <td class='status--sm'>
                            <span class='badge bg-red'>Closed</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row row-cols-1 row-cols-xl-2 g-4" data-masonry='{"percentPosition": true }'>
            <div class="col">
                <div class="card card-info">
                    <div class="h-2.5 card-info__header d-flex align-items-center justify-content-center">
                        <div>
                            <span class="card-info__header-name">
                                Client Information
                            </span>
                        </div>
                    </div>
                    <div class="card-info__content">
                        <div class="container-fluid">
                            <div class="row py-1 border-bottom">
                                <div class="col-4 custom-base-text custom-base-text-lilac_blue">First Name</div>
                                <div class="col-8 fw-500 custom-base-text custom-base-text-lilac_blue">Amol</div>
                            </div>

                            <div class="row py-1 border-bottom">
                                <div class="col-4 custom-base-text custom-base-text-lilac_blue">Last Name</div>
                                <div class="col-8 fw-500 custom-base-text custom-base-text-lilac_blue">Wale</div>
                            </div>

                            <div class="row py-1 border-bottom">
                                <div class="col-4 custom-base-text custom-base-text-lilac_blue">Company</div>
                                <div class="col-8 fw-500 custom-base-text custom-base-text-lilac_blue">Phantom</div>
                            </div>

                            <div class="row py-1 border-bottom">
                                <div class="col-4 custom-base-text custom-base-text-lilac_blue">Email</div>
                                <div class="col-8 fw-500 custom-base-text custom-base-text-lilac_blue">
                                    amolwale@gmail.com
                                </div>
                            </div>

                            <div class="row py-1 border-bottom">
                                <div class="col-4 custom-base-text custom-base-text-lilac_blue">Phone</div>
                                <div class="col-8 fw-500 custom-base-text custom-base-text-lilac_blue">
                                    +919090213229
                                </div>
                            </div>

                            <div class="row py-1 border-bottom">
                                <div class="col-4 custom-base-text custom-base-text-lilac_blue">Address</div>
                                <div class="col-8 fw-500 custom-base-text custom-base-text-lilac_blue">
                                    Teacher Colony Neknoor
                                </div>
                            </div>

                            <div class="row py-1 border-bottom">
                                <div class="col-4 custom-base-text custom-base-text-lilac_blue">City</div>
                                <div class="col-8 fw-500 custom-base-text custom-base-text-lilac_blue">Beed</div>
                            </div>

                            <div class="row py-1 border-bottom">
                                <div class="col-4 custom-base-text custom-base-text-lilac_blue">State</div>
                                <div class="col-8 fw-500 custom-base-text custom-base-text-lilac_blue">Maharashtra</div>
                            </div>

                            <div class="row py-1 border-bottom">
                                <div class="col-4 custom-base-text custom-base-text-lilac_blue">Postcode</div>
                                <div class="col-8 fw-500 custom-base-text custom-base-text-lilac_blue">431125</div>
                            </div>

                            <div class="row py-1">
                                <div class="col-4 custom-base-text custom-base-text-lilac_blue">Country</div>
                                <div class="col-8 fw-500 custom-base-text custom-base-text-lilac_blue">India</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card card-info bg-white">
                    <div class="h-2.5 card-info__header d-flex align-items-center justify-content-center">
                        <div>
                            <span class="card-info__header-name">
                                Quick Actions
                            </span>
                        </div>
                    </div>
                    <div class="overflow-hidden mt-2 card-info__content">
                        <div class="row row-cols-1 row-cols-md-2 g-2">
                            <div class="col">
                                <div class="px-4 menu menu__item">
                                    <i class="fas fa-user menu__icon  custom-base-text custom-base-text-lilac_blue"></i>
                                    <span class="ms-3 menu__name custom-base-text custom-base-text-lilac_blue">
                                        Create New Invoice
                                    </span>
                                </div>
                            </div>

                            <div class="col">
                                <div class="px-4 menu menu__item">
                                    <i class="fas fa-user menu__icon  custom-base-text custom-base-text-lilac_blue"></i>
                                    <span class="ms-3 menu__name  custom-base-text custom-base-text-lilac_blue">
                                        Create New Invoice
                                    </span>
                                </div>
                            </div>

                            <div class="col">
                                <div class="px-4 menu menu__item">
                                    <i class="fas fa-user menu__icon  custom-base-text custom-base-text-lilac_blue"></i>
                                    <span class="ms-3 menu__name  custom-base-text custom-base-text-lilac_blue">
                                        Create New Invoice
                                    </span>
                                </div>
                            </div>

                            <div class="col">
                                <div class="px-4 menu menu__item">
                                    <i class="fas fa-user menu__icon  custom-base-text custom-base-text-lilac_blue"></i>
                                    <span class="ms-3 menu__name  custom-base-text custom-base-text-lilac_blue">
                                        Create New Invoice
                                    </span>
                                </div>
                            </div>

                            <div class="col">
                                <div class="px-4 menu menu__item">
                                    <i class="fas fa-user menu__icon  custom-base-text custom-base-text-lilac_blue"></i>
                                    <span class="ms-3 menu__name  custom-base-text custom-base-text-lilac_blue">
                                        Create New Invoice
                                    </span>
                                </div>
                            </div>

                            <div class="col">
                                <div class="px-4 menu menu__item">
                                    <i class="fas fa-user menu__icon  custom-base-text custom-base-text-lilac_blue"></i>
                                    <span class="ms-3 menu__name  custom-base-text custom-base-text-lilac_blue">
                                        Create New Invoice
                                    </span>
                                </div>
                            </div>

                            <div class="col">
                                <div class="px-4 menu menu__item">
                                    <i class="fas fa-user menu__icon  custom-base-text custom-base-text-lilac_blue"></i>
                                    <span class="ms-3 menu__name  custom-base-text custom-base-text-lilac_blue">
                                        Create New Invoice
                                    </span>
                                </div>
                            </div>

                            <div class="col">
                                <div class="px-4 menu menu__item">
                                    <i class="fas fa-user menu__icon  custom-base-text custom-base-text-lilac_blue"></i>
                                    <span class="ms-3 menu__name  custom-base-text custom-base-text-lilac_blue">
                                        Create New Invoice
                                    </span>
                                </div>
                            </div>

                            <div class="col">
                                <div class="px-4 menu menu__item">
                                    <i class="fas fa-user menu__icon  custom-base-text custom-base-text-lilac_blue"></i>
                                    <span class="ms-3 menu__name  custom-base-text custom-base-text-lilac_blue">
                                        Create New Invoice
                                    </span>
                                </div>
                            </div>

                            <div class="col">
                                <div class="px-4 menu menu__item">
                                    <i class="fas fa-user menu__icon  custom-base-text custom-base-text-lilac_blue"></i>
                                    <span class="ms-3 menu__name  custom-base-text custom-base-text-lilac_blue">
                                        Create New Invoice
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card card-info">
                    <div class="h-2.5 card-info__header d-flex align-items-center justify-content-center">
                        <div>
                            <span class="card-info__header-name">
                                Invoices/Billing
                            </span>
                        </div>
                    </div>
                    <div class="card-info__content">
                        <div class="container-fluid">
                            <div class="row py-1 border-bottom">
                                <div class="col-4 custom-base-text custom-base-text-lilac_blue">Shared Hosting</div>
                                <div class="col-8 fw-500 custom-base-text custom-base-text-lilac_blue">1 (Total 1)</div>
                            </div>

                            <div class="row py-1 border-bottom">
                                <div class="col-4 custom-base-text custom-base-text-lilac_blue">Reseller Hosting</div>
                                <div class="col-8 fw-500 custom-base-text custom-base-text-lilac_blue">0 (Total 0)</div>
                            </div>

                            <div class="row py-1 border-bottom">
                                <div class="col-4 custom-base-text custom-base-text-lilac_blue">VPS/Server</div>
                                <div class="col-8 fw-500 custom-base-text custom-base-text-lilac_blue">0 (Total 0)</div>
                            </div>

                            <div class="row py-1 border-bottom">
                                <div class="col-4 custom-base-text custom-base-text-lilac_blue">Service</div>
                                <div class="col-8 fw-500 custom-base-text custom-base-text-lilac_blue">
                                    0 (Total 0)
                                </div>
                            </div>

                            <div class="row py-1 border-bottom">
                                <div class="col-4 custom-base-text custom-base-text-lilac_blue">Domains</div>
                                <div class="col-8 fw-500 custom-base-text custom-base-text-lilac_blue">
                                    0 (Total 0)
                                </div>
                            </div>

                            <div class="row py-1 border-bottom">
                                <div class="col-4 custom-base-text custom-base-text-lilac_blue">Accepted Quotes</div>
                                <div class="col-8 fw-500 custom-base-text custom-base-text-lilac_blue">
                                    0 (Total 0)
                                </div>
                            </div>

                            <div class="row py-1 border-bottom">
                                <div class="col-4 custom-base-text custom-base-text-lilac_blue">Support Tickets</div>
                                <div class="col-8 fw-500 custom-base-text custom-base-text-lilac_blue">0 (Total 0)</div>
                            </div>

                            <div class="row py-1">
                                <div class="col-4 custom-base-text custom-base-text-lilac_blue">Affiliate Sgnups</div>
                                <div class="col-8 fw-500 custom-base-text custom-base-text-lilac_blue">0</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card card-info">
                    <div class="h-2.5 card-info__header d-flex align-items-center justify-content-center">
                        <div>
                            <span class="card-info__header-name">
                                Services/Products
                            </span>
                        </div>
                    </div>
                    <div class="card-info__content">
                        <div class="container-fluid">
                            <div class="row py-1 border-bottom">
                                <div class="col-4 custom-base-text custom-base-text-lilac_blue">Shared Hosting</div>
                                <div class="col-8 fw-500 custom-base-text custom-base-text-lilac_blue">1 (Total 1)</div>
                            </div>

                            <div class="row py-1 border-bottom">
                                <div class="col-4 custom-base-text custom-base-text-lilac_blue">Reseller Hosting</div>
                                <div class="col-8 fw-500 custom-base-text custom-base-text-lilac_blue">0 (Total 0)</div>
                            </div>

                            <div class="row py-1 border-bottom">
                                <div class="col-4 custom-base-text custom-base-text-lilac_blue">VPS/Server</div>
                                <div class="col-8 fw-500 custom-base-text custom-base-text-lilac_blue">0 (Total 0)</div>
                            </div>

                            <div class="row py-1 border-bottom">
                                <div class="col-4 custom-base-text custom-base-text-lilac_blue">Service</div>
                                <div class="col-8 fw-500 custom-base-text custom-base-text-lilac_blue">
                                    0 (Total 0)
                                </div>
                            </div>

                            <div class="row py-1 border-bottom">
                                <div class="col-4 custom-base-text custom-base-text-lilac_blue">Domains</div>
                                <div class="col-8 fw-500 custom-base-text custom-base-text-lilac_blue">
                                    0 (Total 0)
                                </div>
                            </div>

                            <div class="row py-1 border-bottom">
                                <div class="col-4 custom-base-text custom-base-text-lilac_blue">Accepted Quotes</div>
                                <div class="col-8 fw-500 custom-base-text custom-base-text-lilac_blue">
                                    0 (Total 0)
                                </div>
                            </div>

                            <div class="row py-1 border-bottom">
                                <div class="col-4 custom-base-text custom-base-text-lilac_blue">Support Tickets</div>
                                <div class="col-8 fw-500 custom-base-text custom-base-text-lilac_blue">0 (Total 0)</div>
                            </div>

                            <div class="row py-1">
                                <div class="col-4 custom-base-text custom-base-text-lilac_blue">Affiliate Sgnups</div>
                                <div class="col-8 fw-500 custom-base-text custom-base-text-lilac_blue">0</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card card-info">
                    <div class="h-2.5 card-info__header d-flex align-items-center justify-content-center">
                        <div>
                            <span class="card-info__header-name">
                                Recent Emails
                            </span>
                        </div>
                    </div>
                    <div class="card-info__content">
                        <div class="container-fluid">
                            <div class="row py-1 border-bottom">
                                <div class="col-4 custom-base-text custom-base-text-lilac_blue">22 Dec 2021 20:03</div>
                                <div class="col-8 fw-500 custom-base-text custom-base-text-lilac_blue">
                                    Domain Registration Confirmation
                                </div>
                            </div>

                            <div class="row py-1 border-bottom">
                                <div class="col-4 custom-base-text custom-base-text-lilac_blue">22 Dec 2021 20:03</div>
                                <div class="col-8 fw-500 custom-base-text custom-base-text-lilac_blue">
                                    New Account Confirmation
                                </div>
                            </div>

                            <div class="row py-1 border-bottom">
                                <div class="col-4 custom-base-text custom-base-text-lilac_blue">22 Dec 2021 20:03</div>
                                <div class="col-8 fw-500 custom-base-text custom-base-text-lilac_blue">
                                    Invoice Payment Confirmation
                                </div>
                            </div>

                            <div class="row py-1 border-bottom">
                                <div class="col-4 custom-base-text custom-base-text-lilac_blue">22 Dec 2021 20:03</div>
                                <div class="col-8 fw-500 custom-base-text custom-base-text-lilac_blue">
                                    Order Confirmation
                                </div>
                            </div>

                            <div class="row py-1">
                                <div class="col-4 custom-base-text custom-base-text-lilac_blue">22 Dec 2021 20:03</div>
                                <div class="col-8 fw-500 custom-base-text custom-base-text-lilac_blue">
                                    Customer Invoice
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card card-info">
                    <div class="h-2.5 card-info__header d-flex align-items-center justify-content-center">
                        <div>
                            <span class="card-info__header-name">
                                Other Information
                            </span>
                        </div>
                    </div>
                    <div class="card-info__content">
                        <div class="container-fluid">
                            <div class="row py-1 border-bottom">
                                <div class="col-4 custom-base-text custom-base-text-lilac_blue">Status</div>
                                <div class="col-8 fw-500 custom-base-text custom-base-text-lilac_blue">
                                    Active
                                </div>
                            </div>

                            <div class="row py-1 border-bottom">
                                <div class="col-4 custom-base-text custom-base-text-lilac_blue">Client Group</div>
                                <div class="col-8 fw-500 custom-base-text custom-base-text-lilac_blue">VIP</div>
                            </div>

                            <div class="row py-1 border-bottom">
                                <div class="col-4 custom-base-text custom-base-text-lilac_blue">Signup Date</div>
                                <div class="col-8 fw-500 custom-base-text custom-base-text-lilac_blue">22 Dec 2021</div>
                            </div>

                            <div class="row py-1 border-bottom">
                                <div class="col-4 custom-base-text custom-base-text-lilac_blue">Client for</div>
                                <div class="col-8 fw-500 custom-base-text custom-base-text-lilac_blue">28 Days</div>
                            </div>

                            <div class="row py-1 border-bottom">
                                <div class="col-4 custom-base-text custom-base-text-lilac_blue">Last Login</div>
                                <div class="col-8 fw-500 custom-base-text custom-base-text-lilac_blue">22 Dec 2021 21:35
                                </div>
                            </div>

                            <div class="row py-1 border-bottom">
                                <div class="col-4 custom-base-text custom-base-text-lilac_blue">Last IP Address</div>
                                <div class="col-8 fw-500 custom-base-text custom-base-text-lilac_blue">157.33.115.48
                                </div>
                            </div>

                            <div class="row py-1">
                                <div class="col-4 custom-base-text custom-base-text-lilac_blue">Last Host</div>
                                <div class="col-8 fw-500 custom-base-text custom-base-text-lilac_blue">157.33.115.48
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card card-info">
                    <div class="h-2.5 card-info__header d-flex align-items-center justify-content-center">
                        <div>
                            <span class="card-info__header-name">
                                Payment Methods
                            </span>
                        </div>
                    </div>
                    <div class="card-info__content">
                        <div class="container-fluid">
                            <div class="row py-1">
                                <div class="col text-center fw-500 custom-base-text custom-base-text-lilac_blue">
                                    No payment method found!
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>