<div class="container-fluid mb-3">
    <div class="mx-2 my-3">
        <span class="main-content__title">Client Details</span>
    </div>
    <form class='row row-cols-1 row-cols-xl-2 g-2 client-details-form' action='#'>
        <label class='client-details-form__label'>
            <i class='fas fa-user client-details-form__icon'></i>
            <select class="form-select client-details-form__input" aria-label="Default select example">
                <option selected>Amol Wale #1785</option>
                <option value="1">Amol Wale #1785</option>
                <option value="2">Amol Wale #1785</option>
                <option value="3">Amol Wale #1785</option>
            </select>
        </label>
        <button class="btn client-details-form__update-btn">
            <i class="fas fa-sync-alt client-details-form__update-btn-icon"></i>
            <span class="client-details-form__update-btn-text">Update</span>
        </button>
    </form>

    <span class='mt-4 d-block main-content__sub-text main-content__sub-text--strong'>
        Profile Summary
    </span>

    <div class="mt-2 btn-group btn-profile-group" role="group">
        <button type="button" class="btn btn-profile btn-primary rounded">Summary</button>
        <button type="button" class="btn btn-profile">Profile</button>
        <button type="button" class="btn btn-profile">Users</button>
    </div>

    <div class='mt-2 table-responsive'>
        <table class='table search-result-table'>
            <thead>
                <tr>
                    <th scope='col'>ID</th>
                    <th scope='col'>Services/Products</th>
                    <th scope='col'>Amount</th>
                    <th scope='col'>Billing Cycle</th>
                    <th scope='col'>Signup Date</th>
                    <th scope='col'>Next Due Date</th>
                    <th scope='col'>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>Mark</td>
                    <td>Mark</td>
                    <td class='status--sm'>
                        <span class='badge bg-green'>Active</span>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>Mark</td>
                    <td>Mark</td>
                    <td class='status--sm'>
                        <span class='badge bg-red'>Closed</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="container-fluid">
        <div class="row" data-masonry='{"percentPosition": true }'>
            <div class="col">
                <div class="card card-info">
                    <div class="px-4 card-info__header d-flex align-items-center justify-content-center">
                        <div>
                            <span class="card-info__header-name">
                                Client Information
                            </span>
                        </div>
                    </div>
                    <div class="px-4 card-info__content">

                    </div>
                </div>
            </div>
            <div class="col">World</div>
        </div>
    </div>
</div>