<ul
  style='display: flex; list-style-type: none; justify-content: space-around; background-color: dodgerblue; padding: 10px 5px;'
>
  <li><a
      style='text-decoration: none; padding: 5px 2px; color: white; font-weight: 600;'
      href='#'
    >Item #1</a></li>
  <li><a
      style='text-decoration: none; padding: 5px 2px; color: white; font-weight: 600;'
      href='#'
    >Item #2</a></li>
  <li><a
      style='text-decoration: none; padding: 5px 2px; color: white; font-weight: 600;'
      href='#'
    >Item #3</a></li>
  <li><a
      style='text-decoration: none; padding: 5px 2px; color: white; font-weight: 600;'
      href='#'
    >Item #4</a></li>
</ul>