<nav class='navbar navbar-expand-lg navbar-dark bg-navbar-theme'>
  <div class='container'>
    <a href="/" class="navbar-brand">
      <h2 class="">Brand</h2>
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Store
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/store">Browse All</a></li>
            <li><a class="dropdown-item" href="/store/test-category">Test Category</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Support
          </a>
          <ul class="dropdown-menu" aria-labelledby="new-ticket">
            <li><a class="dropdown-item" href="/clientarea/tickets/">Tickets</a></li>
            <li><a class="dropdown-item" href="/clientarea/tickets/new">Open Ticket</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div></div>
    <div class='header__actions me-3 pe-3'>
      {{#if isAuthenticated}}
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Hi, {{user.name}}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/clientarea/profile">Profile</a></li>
            {{!-- <li><a class="dropdown-item" href="/clientarea/change-password">Change Password</a></li> --}}
            <li><a class="dropdown-item" href="/clientarea/email-history">Email History</a></li>
            <li><a class="dropdown-item" href="/clientarea/security-center">Security Center</a></li>
            <li><a class="dropdown-item" href="/clientarea/support">Support</a></li>

            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="/auth/signout">Sign Out</a></li>
          </ul>
        </li>
      </ul>
      {{!-- <a role='button' href='/auth/signout' class='btn btn--bright_navy_blue'>
        Logout
      </a> --}}
      {{else}}
      <a role='button' href='/auth/signup' class='btn btn-text'>Register</a>
      <a role='button' href='/auth/signin' class='btn btn--bright_navy_blue'>
        <i class='fas fa-sign-in-alt'></i>
        <span class='ms-2'>Login</span>
      </a>
      {{/if}}
    </div>
  </div>
  <div class='m-0 dropdown-divider header__divider'></div>
</nav>