<div class='container'>
  <div class='row my-5'>

    <div class=' col-md-12 col-lg-8 '>
      <div class='card'>
        <div class='card-header border-bottom'><h5
            class='card-title mb-0'
          >Cart</h5></div>
        <div class='card-body'>
          <div class='alert alert-danger mt-3' role='alert'>
            Your cart needs product configuration.
          </div>
          <ul class='list-group mb-3 mt-3'>
            <li class='list-group-item p-4'>
              <div class='d-flex gap-3'>
                <div class='flex-grow-1'>
                  <div class='row'>
                    <div class='col-md-8'>
                      <h6 class='me-3'><a
                          href='javascript:void(0)'
                          class='text-body'
                        >SSD Shared Hosting - Basic
                          <span
                            class='badge rounded-pill bg-label-danger'
                          >Configure</span></a></h6>
                      <div class='text-muted mb-1 d-flex flex-wrap'><span
                          class='me-1'
                        >Domain:</span>
                        <a href='javascript:void(0)' class='me-1'>Click to add
                          Domain</a></div>
                      <div class='text-muted mb-1 d-flex flex-wrap'><span
                          class='me-1'
                        >Server Location:</span>
                        <a href='javascript:void(0)' class='me-1'>Select
                          Location</a></div>
                      <!-- <input type="number" class="form-control form-control-sm w-px-75" value="1" min="1" max="5"> -->
                    </div>
                    <div class='col-md-4'>
                      <div class='text-md-end'>
                        <button
                          type='button'
                          class='btn-close btn-pinned'
                          aria-label='Close'
                        ></button>
                        <div class='my-2 my-md-4'><span
                            class='text-primary'
                          >$10/</span><span class='text-muted'>mo</span></div>
                        <!-- <button type="button" class="btn btn-sm btn-secondary">Move to wishlist</button> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>

            <li class='list-group-item p-4'>
              <div class='d-flex gap-3'>
                <div class='flex-grow-1'>
                  <div class='row'>
                    <div class='col-md-8'>
                      <h6 class='me-3'><a
                          href='javascript:void(0)'
                          class='text-body'
                        >VPS Server - Starter
                          <span
                            class='badge rounded-pill bg-label-success'
                          >Ready</span></a></h6>
                      <div class='text-muted mb-1 d-flex flex-wrap'><span
                          class='me-1'
                        >Hostname:</span>
                        <a
                          href='javascript:void(0)'
                          class='me-1'
                        >server.example.com</a></div>
                      <div class='text-muted mb-1 d-flex flex-wrap'><span
                          class='me-1'
                        >Server Location:</span>
                        <a href='javascript:void(0)' class='me-1'>US - Central</a></div>
                      <!-- <input type="number" class="form-control form-control-sm w-px-75" value="1" min="1" max="5"> -->
                    </div>
                    <div class='col-md-4'>
                      <div class='text-md-end'>
                        <button
                          type='button'
                          class='btn-close btn-pinned'
                          aria-label='Close'
                        ></button>
                        <div class='my-2 my-md-4'><span
                            class='text-primary'
                          >$30/</span><span class='text-muted'>mo</span></div>
                        <!-- <button type="button" class="btn btn-sm btn-secondary">Move to wishlist</button> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>

          </ul>
        </div>
      </div>
    </div>

    <div class='col-12 col-md-12 col-lg-4'>
      <div class='card mt-3 mt-lg-0'>
        <div class='card-header'><h5 class='card-title mb-0'>Offer</h5></div>
        <div class='card-body border-bottom'>
          <div class='row g-3 mb-3'>
            <div class='col-8 col-xxl-8 col-xl-12'>
              <input
                type='text'
                class='form-control'
                placeholder='Enter Promo Code'
                aria-label='Enter Promo Code'
              />
            </div>
            <div class='col-4 col-xxl-4 col-xl-12'>
              <div class='d-grid'>
                <button type='button' class='btn btn-primary'>Apply</button>
              </div>
            </div>
          </div>
        </div>
        <div class='card-body border-bottom'>
          <h6>Price Details</h6>
          <dl class='row mb-0'>
            <dt class='col-sm-6 fw-normal'>Order Total</dt>
            <dd class='col-sm-6 text-end'>$40.00</dd>

            <dt class='col-sm-6 fw-normal'>Discount</dt>
            <dd class='col-sm-6 text-success text-end'> -$0.00</dd>

            <dt class='col-sm-6 fw-normal'>VAT</dt>
            <dd class='col-sm-6 text-end'><span>$2.00</span>
              <!-- <span class='badge bg-label-success'>Free</span> -->
            </dd>

            <hr />

            <dt class='col-sm-6'>Total</dt>
            <dd class='col-sm-6 fw-semibold text-end mb-0'>$42.00</dd>
          </dl>

        </div>
        <div class="card-body">
            <button class="btn btn-secondary" disabled>Place Order</button>
          </div>
      </div>
    </div>
  </div>
</div>