.details-box {
  border: none;
  outline: none;
  border-radius: 0.3125rem;
  height: 6.25rem;
  min-height: 6.25rem;
  max-height: 6.25rem;

  @each $key, $val in $details-box {
    $bold: map-get($val, 'bold');
    $light: map-get($val, 'light');

    &--#{$key} {
      background-color: $light;

      .details-box__icon,
      .details-box__count,
      .details-box__name {
        color: $bold;
      }
    }
  }

  &__icon {
    font-size: 1.4375rem;
    line-height: 1.4375rem;
    width: 3.75rem;
    height: 3.75rem;
    background-color: $white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__count {
    font-size: 1.75rem;
    font-weight: bold;
    line-height: 2.3125rem;
  }

  &__name {
    font-size: 0.9375rem;
    font-weight: 300;
    line-height: 1.25rem;
    white-space: nowrap;
  }
}
