.client {
  &-search-form {
    &__label {
      display: flex;
      position: relative;
      height: 2.5rem;
      min-width: 12.5rem;
      min-height: 2.5rem;
      align-items: center;
    }

    &__icon {
      position: absolute;
      z-index: 1;
      margin-left: 0.5rem;
      color: $lilac_blue;
      line-height: 0.9375rem;
      font-size: 0.9375rem;
    }

    &__input {
      position: relative;
      z-index: 0;
      width: 100%;
      height: 100%;
      display: block;
      padding-left: 2rem;
      color: $lilac_blue;
      background-color: $white_solid;
      border-color: $lilac_blue;

      &::placeholder {
        color: $lilac_blue;
        font-size: 0.9375rem;
        font-weight: 300;
        line-height: 1.25rem;
      }
    }

    &__submit-btn {
      width: auto;
      height: 2.5rem;
      min-height: 2.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $bright_navy_blue;
      border: none;
      outline: none;
      border-radius: 0.3125rem;

      &-icon {
        color: $white;
        font-size: 1.125rem;
        line-height: 1.125rem;
      }

      &-text {
        color: $white;
        margin-left: 0.5rem;
        font-size: 0.9375rem;
        line-height: 1.25rem;
        font-weight: 500;
      }
    }
  }

  &-details-form {
    &__label {
      display: flex;
      position: relative;
      height: 2.5rem;
      min-height: 2.5rem;
      align-items: center;
    }

    &__icon {
      position: absolute;
      z-index: 1;
      margin-left: 0.5rem;
      color: $lilac_blue;
      line-height: 0.9375rem;
      font-size: 0.9375rem;
    }

    &__input {
      position: relative;
      z-index: 0;
      width: 100%;
      height: 100%;
      display: block;
      padding-left: 2rem;
      color: $lilac_blue;
      background-color: $white_solid;
      border-color: $lilac_blue;

      &::placeholder {
        color: $lilac_blue;
        font-size: 0.9375rem;
        font-weight: 300;
        line-height: 1.25rem;
      }
    }

    &__submit-btn {
      width: auto;
      height: 2.5rem;
      min-height: 2.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $bright_navy_blue;
      border: none;
      outline: none;
      border-radius: 0.3125rem;

      &-icon {
        color: $white;
        font-size: 1.125rem;
        line-height: 1.125rem;
      }

      &-text {
        color: $white;
        margin-left: 0.5rem;
        font-size: 0.9375rem;
        line-height: 1.25rem;
        font-weight: 500;
      }
    }

    &__update-btn {
      height: 2.5rem;
      max-height: 2.5rem;
      width: 6.875rem;
      max-width: 6.875rem;
      background-color: $bright_navy_blue;
      color: $white;

      &:focus,
      &:active,
      &:hover {
        color: $white;
      }

      &-icon {
        font-size: 1.125rem;
        line-height: 1.125rem;
        margin-right: 0.5rem;

        &:focus,
        &:active,
        &:hover {
          color: $white;
        }
      }

      &-text {
        font-size: 0.9375rem;
        line-height: 1.25rem;

        &:focus,
        &:active,
        &:hover {
          color: $white;
        }
      }
    }
  }
}
