<div class="container">
    <div class="my-4">
        <div class="card">
            <h5 class="card-header">Change password</h5>
            <div class="card-body">
                <form action="" class="form-group">
                    <div class="row">

                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="mb-4 me-3">
                                    <label for="">Current Password</label>
                                    <input type="password" class="form-control" name="current_password"
                                        placeholder="Current Password">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-4">
                                <label for="">New Password</label>
                                <input type="password" class="form-control" name="current_password"
                                    placeholder="New Password">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-4">
                                <label for="">Confirm Password</label>
                                <input type="password" class="form-control" name="current_password"
                                    placeholder="Confirm Password">
                            </div>
                        </div>
                    </div>
                </form>
                <div class="col-12 mb-4 text-muted">
                    <p class="fw-bold mt-2">Requirements:</p>
                    <ul class="ps-3 mb-0">
                        <li class="mb-1">
                            Minimum 8 characters long
                        </li>
                        <li class="mb-1">At least one character</li>
                        <li>At least one number, or symbol</li>
                    </ul>
                </div>
                <div class="col-12 mt-1">
                    <button type="submit" class="btn btn-primary me-2">Change Password</button>
                </div>
            </div>
        </div>
    </div>
</div>