<div class="container my-5">
    <div class="card ">
        <div class="card-body pb-1">
            <div class="card-title">
                <h5 class="card-title">Email History</h5>
            </div>

        </div>
        <hr class="m-0">
        <ul class="list-group list-group-flush">

            <a href="#" class="list-group-item list-group-item-action">
                <div class="d-flex justify-content-between w-100">
                    <div class="">
                        <div class="fw-bold">Invoice payment confirmation</div>
                        <div class="">16-03-2022 (14:55)</div>
                        Thanks for your order, We are now started processing your r.....
                    </div>
                </div>
            </a>

            <a href="#" class="list-group-item list-group-item-action">
                <div class="d-flex justify-content-between w-100">
                    <div class="">
                        <div class="fw-bold">Invoice payment confirmation</div>
                        <div class="">16-03-2022 (14:55)</div>
                        Thanks for your order, We are now started processing your r.....

                    </div>
                </div>
            </a>

            <a href="#" class="list-group-item list-group-item-action">
                <div class="d-flex justify-content-between w-100">
                    <div class="">
                        <div class="fw-bold">Invoice payment confirmation</div>
                        <div class="">16-03-2022 (14:55)</div>
                        Thanks for your order, We are now started processing your r.....

                    </div>
                </div>
            </a>

            <a href="#" class="list-group-item list-group-item-action">
                <div class="d-flex justify-content-between w-100">
                    <div class="">
                        <div class="fw-bold">Invoice payment confirmation</div>
                        <div class="">16-03-2022 (14:55)</div>
                        Thanks for your order, We are now started processing your r.....

                    </div>
                </div>
            </a>


        </ul>
    </div>
    <div class="card card-body mt-3 p-1">
        <nav aria-label="..." class="d-flex justify-content-center m-2">
            <ul class="pagination mb-0">
                <li class="page-item">
                    <a class="page-link">Previous</a>
                </li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item " aria-current="page">
                    <a class="page-link" href="#">2 <span class="visually-hidden">(current)</span></a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
          
    </div>
</div>