@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  @media screen and (max-width: 1440px) {
    .sidebar {
      @apply z-50 transition-all duration-100 ease-in-out -left-56;
    }
  }

  .sidebar-active {
    @apply left-0;
  }

  #slidbar-overlay {
    @apply z-40 transition duration-100 ease-in-out;
  }

  body {
    @apply antialiased lg:flex lg:flex-col lg:min-h-screen bg-gray-50;
  }

  input:checked ~ .dot {
    transform: translateX(100%);
  }

  input:checked ~ .line {
    @apply bg-blue-500;
  }
}
