<div class='m-4'>
  <div>
    <h1 class='text-lg font-bold text-gray-600 uppercase'>Search Client</h1>
  </div>

  <div>
    <form action='#'>
      <label class='flex items-center relative' for='name'>
        <div class='absolute text-gray-400 px-2'>
          <i class='far fa-user'></i>
        </div>
        <input
          class='client-form-input text-xs'
          type='text'
          name='name'
          id='name'
          placeholder='Name'
        />
      </label>
    </form>
  </div>
</div>