<div class='m-4'>
  <div>
    <h1 class='text-lg font-bold text-gray-600 uppercase'>Search Client</h1>
  </div>

  <div>
    <form action='#'>
      <label class='relative flex items-center' for='name'>
        <div class='absolute px-2 text-gray-400'>
          <i class='far fa-user'></i>
        </div>
        <input
          class='text-xs client-form-input'
          type='text'
          name='name'
          id='name'
          placeholder='Name'
        />
      </label>
    </form>
  </div>
</div>