{{#if _errors}}
  {{#each _errors}}
    <div class='alert alert-danger'>
      <strong>Error!</strong>
      {{this}}
    </div>
  {{/each}}
{{/if}}

{{#if _success}}
  {{#each _success}}
    <div class='alert alert-success'>
      <strong>Success!</strong>
      {{this}}
    </div>
  {{/each}}
{{/if}}

{{#if _info}}
  {{#each _info}}
    <div class='alert alert-info'>
      <strong>Info!</strong>
      {{this}}
    </div>
  {{/each}}
{{/if}}