<footer class="px-4 footer">
    <div>
        <a href="#" class="footer__link">About</a>
        <a href="#" class="footer__link">Documentation</a>
        <a href="#" class="footer__link">Report a Bug</a>
        <a href="#" class="footer__link">Contact Us</a>
    </div>
    <div class="footer__des">
        <span class="footer__highlight">DashBoard © 2021</span> | All Rights
        Reserved
    </div>
</footer>