<div class='flex-1'></div>

{{! Footer }}
<div class='z-20 px-4 py-6 bg-blue-500 lg:px-6 lg:py-3 lg:flex lg:justify-between'>
    <div class='space-x-4 text-center lg:text-left'>
        <a class='font-normal leading-none tracking-tight text-white md:text-base text-tiny' href='#'>
            About
        </a>
        <a class='font-normal leading-none tracking-tight text-white md:text-base text-tiny' href='#'>
            Documentation
        </a>
        <a class='font-normal leading-none tracking-tight text-white md:text-base text-tiny shrink-0' href='#'>
            Report a Bug
        </a>
        <a class='font-normal leading-none tracking-tight text-white md:text-base text-tiny shrink-0' href='#'>
            Contact Us
        </a>
    </div>
    <div class='mt-10 text-center text-white md:text-base text-tiny lg:text-left lg:mt-0'>
        <span class='font-medium'>Dashboard &copy; 2022 |</span>
        All Rights Reserved
    </div>
</div>
{{! End Footer }}