<div class='top-bar'>
  <div class='header'>
    <button class='btn header__menu-button ms-3 ps-3'>
      <i class='fas fa-bars'></i>
    </button>
    <div></div>
    <div class='header__actions me-3 pe-3'>
      <a role='button' href='/auth/signup' class='btn btn-text'>Register</a>
      <a role='button' href='/auth/signin' class='btn btn--bright_navy_blue'>
        <i class='fas fa-sign-in-alt'></i>
        <span class='ms-2'>Login</span>
      </a>
    </div>
  </div>
  <div class='m-0 dropdown-divider header__divider'></div>
</div>