<nav class='navbar custom-navbar navbar-expand-lg navbar-dark bg-baby-blue fixed-top app-nav'>
  <div class='container-fluid'>
    <a class='navbar-brand' href='/'>BillingCMS</a>
    <button class='navbar-toggler' type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav'
      aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation'>
      <span class='navbar-toggler-icon'></span>
    </button>
    <div class='collapse navbar-collapse' id='navbarNav'>
      <ul class='navbar-nav me-auto mb-2 mb-lg-0'>
        {{#if isAuthenticated}}
        <li class='nav-item'>
          <a class='nav-link {{activeClass pathName "dashboard"}}' aria-current='page'
            href='/admin/dashboard'>Dashboard</a>
        </li>
        {{/if}}
      </ul>
      <ul class='navbar-nav mb-2 mb-lg-0'>
        {{#if isAuthenticated}}

        <li class='nav-item'>
          <a class='nav-link' href='/auth/signout'><button type="button" class="btn btn-primary">Log Out <i
                class="fas fa-sign-out-alt"></i></button></a>
        </li>
        {{else}}
        <li class='nav-item'>
          <a class='nav-link {{activeClass pathName "signin"}}' href='/auth/signin'>Sign In</a>
        </li>
        <li class='nav-item'>
          <a class='nav-link {{activeClass pathName "signup"}}' href='/auth/signup'>Sign Up</a>
        </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>
<div>
  <div id="sticky-sidebar">
    <div>
      <div class="navbar custom-navbar">
        Dash
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="container-fluid">

            <input type="text" class="form-control mx-3 mt-3" placeholder="search">
          </div>
        </div>
      </div>

    </div>
    <div>
      <nav class="sidebar py-2 mb-4">
        <ul class="nav flex-column" id="nav_accordion">
          <li class="nav-item">
            <a class="nav-link" href="#"> Link name </a>
          </li>
          <li class="nav-item has-submenu">
            <a class="nav-link" href="#"> Submenu links </a>
            <ul class="submenu collapse">
              <li><a class="nav-link" href="#">Submenu item 1 </a></li>
              <li><a class="nav-link" href="#">Submenu item 2 </a></li>
              <li><a class="nav-link" href="#">Submenu item 3 </a> </li>
            </ul>
          </li>
          <li class="nav-item has-submenu">
            <a class="nav-link" href="#"> More menus </a>
            <ul class="submenu collapse">
              <li><a class="nav-link" href="#">Submenu item 4 </a></li>
              <li><a class="nav-link" href="#">Submenu item 5 </a></li>
              <li><a class="nav-link" href="#">Submenu item 6 </a></li>
              <li><a class="nav-link" href="#">Submenu item 7 </a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"> Something </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"> Other link </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    document.querySelectorAll('.sidebar .nav-link').forEach(function (element) {

      element.addEventListener('click', function (e) {

        let nextEl = element.nextElementSibling;
        let parentEl = element.parentElement;

        if (nextEl) {
          e.preventDefault();
          let mycollapse = new bootstrap.Collapse(nextEl);

          if (nextEl.classList.contains('show')) {
            mycollapse.hide();
          } else {
            mycollapse.show();
            // find other submenus with class=show
            var opened_submenu = parentEl.parentElement.querySelector('.submenu.show');
            // if it exists, then close all of them
            if (opened_submenu) {
              new bootstrap.Collapse(opened_submenu);
            }
          }
        }
      }); // addEventListener
    }) // forEach
  }); 
</script>