<div class="flex items-center justify-between px-5 py-5 border-b bg-white shadow-sm" id="nav">
  <div class="flex items-center space-x-4">
    <button class="2xl:hidden" id="open-menu-button">
      <i class="text-lg text-blue-600 fas fa-bars"></i>
    </button>
    <div class="text-xl font-semibold text-blue-600">QDASH</div>
  </div>
  <div>
    {{#if isAuthenticated}}
    <div class="flex items-center space-x-4">
      <a href="/admin/dashboard/">
        <button
          class="flex items-center px-2 py-1.5 space-x-3 bg-blue-600 rounded-md text-sm text-white">Dashboard</button>
      </a>
      <a href="/auth/signout">
        <button class="text-sm font-semibold text-blue-600" href="">Log Out</button>
      </a>
    </div>

    {{else}}
    <div class="flex justify-end lg:space-x-3">
      <button class="px-2 py-1.5">
        <span class="text-sm">Sign Up</span>
      </button>
      <button class="flex items-center px-2 py-1.5 space-x-3 bg-blue-600 rounded-md">
        <span class="text-sm text-white">Sign In</span>
        <i class="text-white fas fa-sign-in-alt"></i>
      </button>
    </div>
    {{/if}}
  </div>
</div>
<!-- Side Bar -->
<div class="fixed top-0 bottom-0 left-0 right-0 z-10 flex-col w-56 bg-gray-100 2xl:flex sidebar shadow-md" id="sidenav">
  <div class="flex items-center px-5 py-6 space-x-4 overflow-auto border-b" style="max-height: 98%">
    <button class="cursor-pointer 2xl:hidden" id="close-menu-button">
      <i class="text-lg text-blue-600 fas fa-bars"></i>
    </button>
    <div class="text-xl font-semibold tracking-tight text-blue-600">
      QDASH
    </div>
  </div>
  <div class="max-h-full overflow-auto pb-36">
    <div class="px-5 py-4">
      <div class="pb-4">
        <form action="#">
          <div class="relative flex items-center">
            <div class="absolute ml-2">
              <i class="text-gray-400 fas fa-search"></i>
            </div>
            <input
              class="inline-block w-full py-2.5 pl-8 pr-2 text-tiny font-light leading-none tracking-tight border border-gray-300 rounded shadow text-gray-400 focus:outline-none"
              type="text" placeholder="Search" v-model="search" />
          </div>
        </form>
      </div>

      <div class="flex flex-col space-y-4">
        <button class="flex items-center">
          <div class="flex w-9">
            <i class="font-bold text-blue-600 fas fa-tachometer-alt"></i>
          </div>
          <div class="text-left grow">
            <a href="/admin/dashboard" class="text-lg font-bold tracking-tight text-blue-600">
              Dashboard
            </a>
          </div>
        </button>


        <button class="dropdown-btn" v-for="item in filteredItems">
          <div class="flex items-center mb-3" @click="toggleExpand(item.name)">
            <div class="flex w-9">
              <i class="text-gray-600" :class="item.icon"></i>
            </div>
            <div class="text-left grow">
              <span class="text-lg font-semibold tracking-tight text-gray-600">
                \{{ item.name }}
              </span>
            </div>
            <div>
              <i class="text-gray-300 fas fa-angle-up" :class="(!item.expanded) ? 'hidden' : '' "></i>
              <i class="text-gray-300 fas fa-angle-down" :class="(item.expanded) ? 'hidden' : '' "></i>
            </div>
          </div>


          <div class="dropdown-item" :class="(!item.expanded) ? 'hidden' : '' ">
            <div class="flex flex-col space-y-3">
              <div class="inline-flex" v-for="subitem in item.children">
                <div class="w-9"></div>
                <a class="font-normal leading-tight tracking-tight text-gray-600 text-tiny"
                  :href="subitem.url">\{{subitem.name}}</a>
              </div>
              {{!-- <div class="inline-flex">
                <div class="w-9"></div>
                <a class="font-normal leading-tight tracking-tight text-gray-600 text-tiny" href="/admin/user/new">New
                  User</a>
              </div> --}}
            </div>

          </div>
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Side Bar End -->
<div class="fixed w-full h-full top-0 backdrop-blur-sm hidden" id="slidbar-overlay">

</div>

<script>
  let navItems = [
    {
      name: 'Posts',
      url: '/admin/posts',
      icon: 'far fa-copy',
      expanded: true,
      children: [
        {
          name: 'New Post',
          url: '/admin/posts/new'
        },
        {
          name: 'All Posts',
          url: '/admin/posts'
        }
      ]
    },
    {
      name: 'Users',
      url: '/admin/users',
      icon: 'far fa-user',
      children: [
        {
          name: 'New User',
          url: '/admin/users/new'
        },
        {
          name: 'All Users',
          url: '/admin/users'
        }
      ]
    },
    {
      name: 'Settings',
      url: '/admin/settings',
      icon: 'fas fa-cog',
      children: [
        {
          name: 'General',
          url: '/admin/settings/general',
        },
        {
          name: 'Email Configration',
          url: '/admin/settings/email',
        }
      ]
    }
  ];

  new Vue({
    el: "#sidenav",
    data: {
      items: navItems,
      search: "",
    },
    computed: {
      filteredItems: function () {
        var vm = this;
        return this.items.filter(function (item) {
          return item.name.toLowerCase().indexOf(vm.search.toLowerCase()) > -1;
        });
      }
    },
    methods: {
      toggleExpand: function (title) {
        var vm = this;
        this.items = this.items.map(function (item) {
          if (item.name == title) {
            item.expanded = !item.expanded;
          } else {
            item.expanded = false;
          }
          return item;
        });
      }
    }
  }
  )
</script>