
<main class='container-fluid'>
    <div class='mx-2 my-3'>
        <div class="hstack gap-3 mb-3">
            <h3 class='main-content__title inline-block'>Add New Currency</h3>
        </div>

        <div>
            
        </div>
    </div>
</main>