<div class='flex justify-center'>
  <div class='w-96'>
    <div class='card mt-20'>
      <div class='card-title bg-blue-500'>
        <h5 class='text-white'>Email Configration</h5>
      </div>
      <div class='card-body'>
        <form action='/admin/settings/email' method='post' class='form-group'>
          <label for=''></label>
          <label
            for='site-title'
            class='form-label inline-block mb-2 text-gray-700'
          >Smtp Host</label>
          <input type='text' class='input-normal' placeholder='SMTP Host' />
                    <label
            for='site-title'
            class='form-label inline-block mb-2 text-gray-700'
          >SMTP Port</label>
          <input type='text' class='input-normal' placeholder='port' />
          <input type='text' class='input-normal' placeholder='Username' />
          <input type='text' class='input-normal' placeholder='Password' />
          <input type='text' class='input-normal' placeholder='From Email' />
          <input type='text' class='input-normal' placeholder='From Name' />
        </form>
      </div>
    </div>
  </div>
</div>