{{!-- Orders --}}

<div class="grid grid-cols-2 gap-4 mx-4 mt-4 mb-6 2xl:mr-4 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5">
  <div class="dashboard-summery-item bg-green-100">
    <div class="flex items-center justify-center flex-none w-10 h-10 bg-white rounded-full">
      <i class="text-xl text-green-500 fas fa-shopping-cart"></i>
    </div>
    <div
      class="flex flex-col items-center justify-center flex-1 sm:ml-4 sm:items-start md:items-center md:ml-1 lg:items-start lg:ml-4">
      <h4 class="text-lg font-bold text-green-500 sm:text-xl xl:text-3xl">
        25
      </h4>
      <span class="-mt-1 text-green-500 text-tiny sm:text-sm xl:text-tiny">New Orders</span>
    </div>
  </div>

  <div
    class="dashboard-summery-item bg-orange-100">
    <div class="flex items-center justify-center flex-none w-10 h-10 bg-white rounded-full">
      <i class="text-xl text-orange-500 fas fa-exclamation-triangle"></i>
    </div>
    <div
      class="flex flex-col items-center justify-center flex-1 sm:ml-4 sm:items-start md:items-center md:ml-1 lg:items-start lg:ml-4">
      <h4 class="text-lg font-bold text-orange-500 sm:text-xl xl:text-3xl">
        64
      </h4>
      <span class="-mt-1 text-orange-500 text-tiny sm:text-sm xl:text-tiny">Re-Orders</span>
    </div>
  </div>

  <div
    class="dashboard-summery-item bg-purple-100">
    <div class="flex items-center justify-center flex-none w-10 h-10 bg-white rounded-full">
      <i class="text-xl text-purple-500 fas fa-sync-alt"></i>
    </div>
    <div
      class="flex flex-col items-center justify-center flex-1 sm:ml-4 sm:items-start md:items-center md:ml-1 lg:items-start lg:ml-4">
      <h4 class="text-lg font-bold text-purple-500 sm:text-xl xl:text-3xl">
        64
      </h4>
      <span class="-mt-1 text-purple-500 text-tiny sm:text-sm xl:text-tiny">Due Orders</span>
    </div>
  </div>

  <div class="dashboard-summery-item bg-red-100">
    <div class="flex items-center justify-center flex-none w-10 h-10 bg-white rounded-full">
      <i class="text-xl text-red-500 fas fa-ban"></i>
    </div>
    <div
      class="flex flex-col items-center justify-center flex-1 sm:ml-4 sm:items-start md:items-center md:ml-1 lg:items-start lg:ml-4">
      <h4 class="text-lg font-bold text-red-500 sm:text-xl xl:text-3xl">
        64
      </h4>
      <span class="-mt-1 text-red-500 text-tiny sm:text-sm xl:text-tiny">Cancelled</span>
    </div>
  </div>

  <div class="dashboard-summery-item bg-blue-100">
    <div class="dashboard-summery-item-icon">
      <i class="fas fa-life-ring"></i>
    </div>
    <div
      class="flex flex-col items-center justify-center flex-1 sm:ml-4 sm:items-start md:items-center md:ml-1 lg:items-start lg:ml-4">
      <h4 class="text-lg font-bold text-blue-500 xl:text-3xl sm:text-xl">
        84
      </h4>
      <span class="-mt-1 text-blue-500 text-tiny sm:text-sm xl:text-tiny">Support Tickets</span>
    </div>
  </div>
</div>
{{!-- End Orders --}}

{{!-- Graph And Notification --}}
<div class="pt-2 mx-4 mb-4 2xl:mr-4">
  <div class="mb-4 text-lg font-bold leading-none text-gray-600">
    This Week
  </div>
  <div class="lg:grid lg:grid-cols-2 lg:gap-x-4">
    <div class="px-2 py-2 mb-4 bg-gray-100 rounded-md lg:mb-0">Graph</div>
    <div class="overflow-hidden rounded-md">
      <div class="px-4 py-2 space-x-2 bg-blue-500">
        <div class="flex items-center justify-between">
          <div class="space-x-2">
            <i class="text-white fas fa-bell"></i>
            <span class="text-base font-bold leading-none tracking-tight text-white">
              Notification
            </span>
          </div>

          <button class="text-xs tracking-tight text-white cursor-pointer">
            View All
          </button>
        </div>
      </div>
      <div class="px-4 py-2 space-y-2 bg-gray-100">
        <div class="pt-1">
          <div class="flex items-center space-x-6">
            <div class="flex items-center justify-center w-5 h-5 bg-orange-500 rounded-full">
              <i class="flex items-center justify-center text-white fas fa-exclamation-triangle text-xxsm"></i>
            </div>
            <div class="flex-1 space-y-1">
              <div class="font-bold tracking-wide text-gray-700 text-xsm">
                Admin
              </div>
              <div class="text-gray-600 text-xsm">
                Failed Admin Login Attempt - IP: 10.3.127.6.83
              </div>
            </div>
            <div class="self-start leading-none text-gray-600 text-xxsm">
              Today
            </div>
          </div>
          <div class="mt-3 border-t"></div>
        </div>

        <div class="pt-1">
          <div class="flex items-center space-x-6">
            <div class="flex items-center justify-center w-5 h-5 bg-blue-500 rounded-full">
              <i class="flex items-center justify-center text-white fas fa-file-alt text-xxsm"></i>
            </div>
            <div class="flex-1 space-y-1">
              <div class="font-bold tracking-wide text-gray-700 text-xsm">
                Admin
              </div>
              <div class="text-gray-600 text-xsm">
                Created Manual Invoice - Invoice ID: 2 - User ID: 1
              </div>
            </div>
            <div class="self-start leading-none text-gray-600 text-xxsm">
              Yesterday
            </div>
          </div>
          <div class="mt-3 border-t"></div>
        </div>

        <div class="pt-1">
          <div class="flex items-center space-x-6">
            <div class="flex items-center justify-center w-5 h-5 bg-green-500 rounded-full">
              <i class="flex items-center justify-center text-white fas fa-medkit text-xxsm"></i>
            </div>
            <div class="flex-1 space-y-1">
              <div class="font-bold tracking-wide text-gray-700 text-xsm">
                System
              </div>
              <div class="text-gray-600 text-xsm">
                Admin Password Reset Successful
              </div>
            </div>
            <div class="self-start leading-none text-gray-600 text-xxsm">
              Yesterday
            </div>
          </div>
          <div class="mt-1"></div>
        </div>
      </div>
    </div>
  </div>
</div>
{{!-- Graph And Notification --}}

{{!-- Quick Link --}}
<div class="pt-2 mx-4 mb-4 2xl:mr-4">
  <div class="mb-4 text-lg font-bold leading-none text-gray-600">
    Quick Links
  </div>
  <div class="lg:grid lg:grid-cols-2 lg:gap-x-4">
    <div class="mb-4 rounded-md lg:mb-0">
      <div class="space-y-2 sm:grid sm:grid-cols-2 sm:space-y-0 sm:gap-x-4 sm:gap-y-2">
        <div class="flex items-center px-2 py-1 space-x-3 bg-blue-100 rounded-md lg:px-6 lg:py-3">
          <div class="text-blue-500">
            <i class="fa fa-file-alt"></i>
          </div>
          <div class="text-sm font-medium tracking-tight text-blue-500 sm:text-tiny">
            Create New Invoice
          </div>
        </div>
        <div class="flex items-center px-2 py-1 space-x-3 bg-gray-100 rounded-md lg:px-6 lg:py-3">
          <div><i class="text-gray-700 fa fa-user-alt"></i></div>
          <div class="text-sm font-medium tracking-tight text-gray-700 sm:text-tiny">
            All User List
          </div>
        </div>
        <div class="flex items-center px-2 py-1 space-x-3 bg-gray-100 rounded-md lg:px-6 lg:py-3">
          <div><i class="text-gray-700 fa fa-cart-shopping"></i></div>
          <div class="text-sm font-medium tracking-tight text-gray-700 sm:text-tiny">
            View All Orders
          </div>
        </div>
        <div class="flex items-center px-2 py-1 space-x-3 bg-gray-100 rounded-md lg:px-6 lg:py-3">
          <div><i class="text-gray-700 fa fa-file-alt"></i></div>
          <div class="text-sm font-medium tracking-tight text-gray-700 sm:text-tiny">
            Create New Invoice
          </div>
        </div>
        <div class="flex items-center px-2 py-1 space-x-3 bg-gray-100 rounded-md lg:px-6 lg:py-3">
          <div><i class="text-gray-700 fa fa-user-alt"></i></div>
          <div class="text-sm font-medium tracking-tight text-gray-700 sm:text-tiny">
            All User List
          </div>
        </div>
        <div class="flex items-center px-2 py-1 space-x-3 bg-gray-100 rounded-md lg:px-6 lg:py-3">
          <div><i class="text-gray-700 fa fa-cart-shopping"></i></div>
          <div class="text-sm font-medium tracking-tight text-gray-700 sm:text-tiny">
            View All Orders
          </div>
        </div>
        <div class="flex items-center px-2 py-1 space-x-3 bg-gray-100 rounded-md lg:px-6 lg:py-3">
          <div><i class="text-gray-700 fa fa-file-alt"></i></div>
          <div class="text-sm font-medium tracking-tight text-gray-700 sm:text-tiny">
            Create New Invoice
          </div>
        </div>
        <div class="flex items-center px-2 py-1 space-x-3 bg-gray-100 rounded-md lg:px-6 lg:py-3">
          <div><i class="text-gray-700 fa fa-user-alt"></i></div>
          <div class="text-sm font-medium tracking-tight text-gray-700 sm:text-tiny">
            All User List
          </div>
        </div>
      </div>
    </div>
    <div class="overflow-hidden rounded-md">
      <div class="px-4 py-2 bg-blue-500">
        <div class="flex items-center justify-between">
          <div class="space-x-2">
            <i class="text-white fas fa-undo-alt"></i>
            <span class="text-base font-bold leading-none tracking-tight text-white">
              Activities
            </span>
          </div>

          <button class="text-xs tracking-tight text-white cursor-pointer">
            View All
          </button>
        </div>
      </div>
      <div class="px-4 py-2 space-y-1 bg-gray-100">
        <div class="pt-1">
          <div class="flex items-center space-x-6">
            <div class="flex items-center justify-center w-5 h-5 bg-green-500 rounded-full">
              <i class="flex items-center justify-center text-white fas fa-cart-shopping text-xxsm"></i>
            </div>
            <div class="flex-1 space-y-1">
              <div class="font-bold tracking-wide text-gray-700 text-xsm">
                BeastMaster
              </div>
              <div class="text-gray-600 text-xsm">
                Purchased a new domain for 1-year-renewable
              </div>
            </div>
            <div class="self-start leading-none text-gray-600 text-xxsm">
              Today
            </div>
          </div>
          <div class="mt-3 border-t"></div>
        </div>

        <div class="pt-1">
          <div class="flex items-center space-x-6">
            <div class="flex items-center justify-center w-5 h-5 bg-purple-500 rounded-full">
              <i class="flex items-center justify-center text-white fas fa-retweet text-xxsm"></i>
            </div>
            <div class="flex-1 space-y-1">
              <div class="font-bold tracking-wide text-gray-700 text-xsm">
                CyberGamer
              </div>
              <div class="text-gray-600 text-xsm">
                Renewed a new 1-year hosting - starter plan
              </div>
            </div>
            <div class="self-start leading-none text-gray-600 text-xxsm">
              Yesterday
            </div>
          </div>
          <div class="mt-3 border-t"></div>
        </div>

        <div class="pt-1">
          <div class="flex items-center space-x-6">
            <div class="flex items-center justify-center w-5 h-5 bg-orange-500 rounded-full">
              <i class="flex items-center justify-center text-white fas fa-ban text-xxsm"></i>
            </div>
            <div class="flex-1 space-y-1">
              <div class="font-bold tracking-wide text-gray-700 text-xsm">
                SoloQer
              </div>
              <div class="text-gray-600 text-xsm">
                Cancelled a RDP server - monthly plan
              </div>
            </div>
            <div class="self-start leading-none text-gray-600 text-xxsm">
              Yesterday
            </div>
          </div>
          <div class="mt-1"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="z-20 px-4 py-6 bg-blue-500 lg:px-6 lg:py-3 lg:flex lg:justify-between">
  <div class="space-x-4 text-center lg:text-left">
    <a class="font-normal leading-none tracking-tight text-white md:text-base text-tiny" href="#">About</a>
    <a class="font-normal leading-none tracking-tight text-white md:text-base text-tiny" href="#">Documentation</a>
    <a class="font-normal leading-none tracking-tight text-white md:text-base text-tiny shrink-0" href="#">Report a
      Bug</a>
    <a class="font-normal leading-none tracking-tight text-white md:text-base text-tiny shrink-0" href="#">Contact
      Us</a>
  </div>
  <div class="mt-10 text-center text-white md:text-base text-tiny lg:text-left lg:mt-0">
    <span class="font-medium">Dashboard &copy; 2022 |</span> All Rights
    Reserved
  </div>
</div>

{{!-- Don't comment out or remove it until finish --}}
<div class='container'>
  <h1>Dashboard</h1>
  <section>
    <div class='container'>
      <div class='row row-cols-6'>
        <div class='col row'><img src='http://placehold.it/70x70' alt='Element1' /><a href='/admin/posts'>Posts</a>
        </div>
        <div class='col row'><img src='http://placehold.it/70x70' alt='Element1' /><a href='/admin/themes'>Themes</a>
        </div>
        <div class='col row'><img src='http://placehold.it/70x70' alt='Element1' /><a href='/admin/plugins'>Plugins</a>
        </div>
        <div class='col row'><img src='http://placehold.it/70x70' alt='Element1' /><a
            href='/admin/settings/general'>General Settings</a></div>
        <div class='col row'><img src='http://placehold.it/70x70' alt='Element1' /><span>Label</span></div>
        <div class='col row'><img src='http://placehold.it/70x70' alt='Element1' /><span>Label</span></div>
        <div class='col row'><img src='http://placehold.it/70x70' alt='Element1' /><span>Label</span></div>
        <div class='col row'><img src='http://placehold.it/70x70' alt='Element1' /><span>Label</span></div>
        <div class='col row'><img src='http://placehold.it/70x70' alt='Element1' /><span>Label</span></div>
        <div class='col row'><img src='http://placehold.it/70x70' alt='Element1' /><span>Label</span></div>
        <div class='col row'><img src='http://placehold.it/70x70' alt='Element1' /><span>Label</span></div>
      </div>
    </div>
  </section>
</div>