<div
  class='card card--no-border display-center__box display-center__box--drop-shadow'
>
  <div class='display-center__content display-center__content--center'>
    <div>
      <h3 class='display-center__title'>QDASH</h3>
      <span class='display-center__sub-text'>Reset Password</span>
    </div>
    <form class='display-center__form' action='#'>
      <label class='display-center__form-label'>
        <i class='fas fa-user display-center__form-icon'></i>
        <input
          type='text'
          class='form-control display-center__form-input'
          placeholder='Username'
        />
      </label>
      <button type='submit' class='btn display-center__form-submit-btn'>
        <i class='fas fa-redo-alt display-center__form-submit-btn-icon'></i>
        <span class='display-center__form-submit-btn-text'>Send Link</span>
      </button>
    </form>

    <div class='display-center__extra'>
      Back to
      <a href='#' class='display-center__extra-link'>Login</a>
    </div>
  </div>
</div>