<div
  class='card card--no-border display-center__box display-center__box--drop-shadow'
>
  <div class='display-center__content display-center__content--center'>
    <div>
      <h3 class='display-center__title'>QDASH</h3>
      <span class='display-center__sub-text'>Registration</span>
    </div>
    <form class='display-center__form' action='#'>
      <label class='display-center__form-label'>
        <i class='fas fa-user display-center__form-icon'></i>
        <input
          type='text'
          class='form-control display-center__form-input'
          placeholder='Username'
        />
      </label>

      <label class='display-center__form-label'>
        <i class='fas fa-envelope display-center__form-icon'></i>
        <input
          type='email'
          class='form-control display-center__form-input'
          placeholder='Email address'
        />
      </label>

      <label class='display-center__form-label'>
        <i class='fas fa-lock display-center__form-icon'></i>
        <input
          type='password'
          class='form-control display-center__form-input'
          placeholder='Password'
        />
      </label>

      <label class='display-center__form-label'>
        <i class='fas fa-lock display-center__form-icon'></i>
        <input
          type='password'
          class='form-control display-center__form-input'
          placeholder='Repeat Password'
        />
      </label>

      <button type='submit' class='btn display-center__form-submit-btn'>
        <i class='fas fa-sign-in-alt display-center__form-submit-btn-icon'></i>
        <span class='display-center__form-submit-btn-text'>Register</span>
      </button>

      <div class='mt-1 text-center'>
        <span class='display-center__extra-text'>
          By clicking Register you agree to the Terms of Service
        </span>
      </div>
    </form>

    <div class='display-center__extra'>
      Already have an account?
      <a href='#' class='display-center__extra-link'>
        Login
      </a>
    </div>
  </div>
</div>